<li data-controller="remote-forms" class="px-1 py-2 lg:py-4 relative hover:bg-gray-50" data-prefetch="<%= bookmark_path(bookmark) %>">
  <!-- Repo name and link -->
  <div class="min-w-0 space-y-2 w-full md:w-auto">
    <%= link_to goto_bookmark_path(bookmark), 'data-prefetch': "false", target: "_blank", class: "block" do %>
      <div class="flex items-center space-x-2">
        <span class="flex-shrink-0">
          <% if bookmark.favicon_local.attached? %>
            <%= image_tag(bookmark.favicon_local.service_url, loading: 'lazy', class: "h-4 w-4") %>
          <% else %>
            <%= lavatar_tag(bookmark.letter_char, 16, class: "w-4 h-4") %>
          <% end %>
        </span>
        <span class="block break-all">
          <h2 class="text-md font-medium leading-5">
            <span class="align-middle"><%= bookmark.title_or_url %></span>
            <% if bookmark.is_excellent? %>
              <svg class="w-5 h-5 inline align-middle text-orange-500" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20" fill="currentColor">
                <path d="M10.394 2.08a1 1 0 00-.788 0l-7 3a1 1 0 000 1.84L5.25 8.051a.999.999 0 01.356-.257l4-1.714a1 1 0 11.788 1.838L7.667 9.088l1.94.831a1 1 0 00.787 0l7-3a1 1 0 000-1.838l-7-3zM3.31 9.397L5 10.12v4.102a8.969 8.969 0 00-1.05-.174 1 1 0 01-.89-.89 11.115 11.115 0 01.25-3.762zM9.3 16.573A9.026 9.026 0 007 14.935v-3.957l1.818.78a3 3 0 002.364 0l5.508-2.361a11.026 11.026 0 01.25 3.762 1 1 0 01-.89.89 8.968 8.968 0 00-5.35 2.524 1 1 0 01-1.4 0zM6 18a1 1 0 001-1v-2.065a8.935 8.935 0 00-2-.712V17a1 1 0 001 1z" />
              </svg>
            <% end %>
          </h2>
        </span>
      </div>
    <% end %>
    <% unless controller_name == "bookmarks" && action_name == "show" %>
      <%= link_to bookmark_path(bookmark), class: 'block' do %>
      <div class="pl-6 <%= bookmark.comments_count > 0 ? 'text-gray-500' : 'text-gray-400' %> text-xs">
        <svg class="w-4 h-4 inline align-middle" stroke-linecap="round" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke="currentColor">
          <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M8 12h.01M12 12h.01M16 12h.01M21 12c0 4.418-4.03 8-9 8a9.863 9.863 0 01-4.255-.949L3 20l1.395-3.72C3.512 15.042 3 13.574 3 12c0-4.418 4.03-8 9-8s9 3.582 9 8z" />
        </svg>
        <span class="align-middle">
          <%= bookmark.pinned_comment&.comment  %>
          <% if bookmark.comments_count == 0 %>
            <%= t("empty_comments") %>
          <% end %>
        </span>
      </div>
      <% end %>
    <% end %>
    <div class="flex flex-wrap pl-6 items-center">
      <% bookmark.tags.each do |tag| %>
        <%= tag_url_for(tag) %>
      <% end %>
    </div>
  </div>
  <!-- Repo meta info -->
  <div class="flex flex-row-reverse pl-6 items-center justify-between flex-shrink-0 mt-3">
    <div class="flex items-center justify-end space-x-2 lg:space-x-4 text-sm leading-5 text-gray-500">
      <!-- like button -->
      <span data-controller="likes" class="relative z-0 inline-flex shadow-sm rounded-md">
        <%= link_to toggle_liking_bookmark_path(bookmark), method: :post, type: 'button', remote: true, data: {type: :json, action: "ajax:success->likes#toggle"}, class: "relative inline-flex items-center p-1 lg:px-4 lg:py-2 rounded-l-md border border-gray-300 bg-white text-sm leading-5 font-medium text-gray-800 hover:text-gray-800 focus:z-10 focus:outline-none focus:border-blue-300 focus:shadow-outline-blue active:bg-gray-100 active:text-gray-800 transition ease-in-out duration-150" do %>
          <% if bookmark.liked_by?(current_user) %>
            <svg data-target="likes.svg" class="h-5 w-5 text-yellow-300 hover:text-yellow-400" viewBox="0 0 20 20" fill="currentColor">
              <path fill-rule="evenodd" d="M3.172 5.172a4 4 0 015.656 0L10 6.343l1.172-1.171a4 4 0 115.656 5.656L10 17.657l-6.828-6.829a4 4 0 010-5.656z" clip-rule="evenodd"></path>
            </svg>
          <% else %>
            <svg data-target="likes.svg" class="h-5 w-5 text-gray-300 hover:text-gray-500" viewBox="0 0 20 20" fill="currentColor">
              <path fill-rule="evenodd" d="M3.172 5.172a4 4 0 015.656 0L10 6.343l1.172-1.171a4 4 0 115.656 5.656L10 17.657l-6.828-6.829a4 4 0 010-5.656z" clip-rule="evenodd"></path>
            </svg>
          <% end %>
        <% end %>
        <span data-controller="hover-like-users" data-hover-like-users-url-value="<%= hover_like_users_bookmark_path(bookmark) %>" data-action="mouseover->hover-like-users#show mouseout->hover-like-users#hide">
          <button data-target="likes.data" type="button" class="-ml-px relative inline-flex items-center p-1 lg:px-3 lg:py-2 rounded-r-md border border-gray-300 bg-white text-sm leading-5 font-medium text-gray-800 hover:text-gray-800 focus:z-10 focus:outline-none focus:border-blue-300 focus:shadow-outline-blue active:bg-gray-100 active:text-gray-800 transition ease-in-out duration-150">
            <%= bookmark.likes_count %>
          </button>
        </span>
      </span>
      <a href="<%= bookmark_path(bookmark) %>" class="flex items-center space-x-0.5 relative hover:text-gray-700">
        <svg class="w-6 h-6" stroke-linecap="round" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke="currentColor">
          <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M8 12h.01M12 12h.01M16 12h.01M21 12c0 4.418-4.03 8-9 8a9.863 9.863 0 01-4.255-.949L3 20l1.395-3.72C3.512 15.042 3 13.574 3 12c0-4.418 4.03-8 9-8s9 3.582 9 8z" />
        </svg>
        <span><%= bookmark.comments_count %></span>
      </a>
      <div @click.away="open = false" class="flex-shrink-0 relative" x-data="{ open: false }">
        <div class="hover:text-gray-900">
          <a @click="open = !open" type="button" class="cursor-pointer rounded-md transition ease-in-out duration-150" aria-haspopup="true" aria-expanded="true">
            <svg class="w-6 h-6" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke="currentColor">
              <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M12 5v.01M12 12v.01M12 19v.01M12 6a1 1 0 110-2 1 1 0 010 2zm0 7a1 1 0 110-2 1 1 0 010 2zm0 7a1 1 0 110-2 1 1 0 010 2z" />
            </svg>
          </a>
        </div>
        <div x-show="open" x-description="Profile dropdown panel, show/hide based on dropdown state." x-transition:enter="transition ease-out duration-100" x-transition:enter-start="transform opacity-0 scale-95" x-transition:enter-end="transform opacity-100 scale-100" x-transition:leave="transition ease-in duration-75" x-transition:leave-start="transform opacity-100 scale-100" x-transition:leave-end="transform opacity-0 scale-95" class="mt-1 w-44 origin-top-right absolute right-0 rounded-md shadow-lg z-10" style="display: none;">
          <div class="py-1 rounded-md bg-white shadow-xs" role="menu" aria-orientation="vertical" aria-labelledby="user-menu">
            <%= link_to new_bookmark_tag_path(bookmark), remote: true, class: "relative flex items-center space-x-1 px-2 py-2 hover:text-gray-800", data: {type: :script, action: "ajax:success->remote-forms#append"} do %>
              <svg class="w-5 h-5" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke="currentColor">
                <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M7 7h.01M7 3h5c.512 0 1.024.195 1.414.586l7 7a2 2 0 010 2.828l-7 7a2 2 0 01-2.828 0l-7-7A1.994 1.994 0 013 12V7a4 4 0 014-4z" />
              </svg>
              <span><%= t("tagging") %></span>
            <% end %>

            <%= link_to render_twitter_share_link(bookmark), target: "_blank", class: "relative flex items-center space-x-1 px-2 py-2 hover:text-gray-800" do %>
                <svg class="w-5 h-5" viewBox="0 0 15 15" fill="none" xmlns="http://www.w3.org/2000/svg" width="15" height="15">
                  <path d="M14.478 1.5l.5-.033a.5.5 0 00-.871-.301l.371.334zm-.498 2.959a.5.5 0 10-1 0h1zm-6.49.082h-.5.5zm0 .959h.5-.5zm-6.99 7V12a.5.5 0 00-.278.916L.5 12.5zm.998-11l.469-.175a.5.5 0 00-.916-.048l.447.223zm3.994 9l.354.353a.5.5 0 00-.195-.827l-.159.474zm7.224-8.027l-.37.336.18.199.265-.04-.075-.495zm1.264-.94c.051.778.003 1.25-.123 1.606-.122.345-.336.629-.723 1l.692.722c.438-.42.776-.832.974-1.388.193-.546.232-1.178.177-2.006l-.998.066zm0 3.654V4.46h-1v.728h1zm-6.99-.646V5.5h1v-.959h-1zm0 .959V6h1v-.5h-1zM10.525 1a3.539 3.539 0 00-3.537 3.541h1A2.539 2.539 0 0110.526 2V1zm2.454 4.187C12.98 9.503 9.487 13 5.18 13v1c4.86 0 8.8-3.946 8.8-8.813h-1zM1.03 1.675C1.574 3.127 3.614 6 7.49 6V5C4.174 5 2.421 2.54 1.966 1.325l-.937.35zm.021-.398C.004 3.373-.157 5.407.604 7.139c.759 1.727 2.392 3.055 4.73 3.835l.317-.948c-2.155-.72-3.518-1.892-4.132-3.29-.612-1.393-.523-3.11.427-5.013l-.895-.446zm4.087 8.87C4.536 10.75 2.726 12 .5 12v1c2.566 0 4.617-1.416 5.346-2.147l-.708-.706zm7.949-8.009A3.445 3.445 0 0010.526 1v1c.721 0 1.37.311 1.82.809l.74-.671zm-.296.83a3.513 3.513 0 002.06-1.134l-.744-.668a2.514 2.514 0 01-1.466.813l.15.989zM.222 12.916C1.863 14.01 3.583 14 5.18 14v-1c-1.63 0-3.048-.011-4.402-.916l-.556.832z" fill="currentColor"></path>
                </svg>
              <span><%= t("share_to_twitter") %></span>
            <% end %>

             <%= link_to render_telegram_share_link(bookmark), target: "_blank", class: "relative flex items-center space-x-1 px-2 py-2 hover:text-gray-800" do %>
                <svg class="w-5 h-5" viewBox="0 0 15 15" fill="none" xmlns="http://www.w3.org/2000/svg" width="15" height="15"><path d="M14.5 1.5l-14 5 4 2 6-4-4 5 6 4 2-12z" stroke="currentColor" stroke-linejoin="round"></path></svg>
              <span><%= t("share_to_telegram") %></span>
            <% end %>
            
            <% if policy(bookmark_self).set_excellent? %>
              <%= link_to set_excellent_bookmark_path(bookmark_self), method: :patch, class: "relative flex items-center space-x-1 px-2 py-2 hover:text-gray-800" do %>
                <svg class="w-5 h-5" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke="currentColor">
                  <path fill="#fff" d="M12 14l9-5-9-5-9 5 9 5z" />
                  <path fill="#fff" d="M12 14l6.16-3.422a12.083 12.083 0 01.665 6.479A11.952 11.952 0 0012 20.055a11.952 11.952 0 00-6.824-2.998 12.078 12.078 0 01.665-6.479L12 14z" />
                  <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M12 14l9-5-9-5-9 5 9 5zm0 0l6.16-3.422a12.083 12.083 0 01.665 6.479A11.952 11.952 0 0012 20.055a11.952 11.952 0 00-6.824-2.998 12.078 12.078 0 01.665-6.479L12 14zm-4 6v-7.5l4-2.222" />
                </svg>
                <span><%= bookmark_self.is_excellent? ? t("excellent_cancel") : t("excellent_add") %></span>
              <% end %>
            <% end %>
            <% if policy(bookmark_self).priority_excellent? %>
              <%= link_to priority_excellent_bookmark_path(bookmark_self), method: :patch, class: "relative flex items-center space-x-1 px-2 py-2 hover:text-gray-800" do %>
                <svg class="w-5 h-5" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke="currentColor">
                  <path fill="#fff" d="M12 14l9-5-9-5-9 5 9 5z" />
                  <path fill="#fff" d="M12 14l6.16-3.422a12.083 12.083 0 01.665 6.479A11.952 11.952 0 0012 20.055a11.952 11.952 0 00-6.824-2.998 12.078 12.078 0 01.665-6.479L12 14z" />
                  <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M12 14l9-5-9-5-9 5 9 5zm0 0l6.16-3.422a12.083 12.083 0 01.665 6.479A11.952 11.952 0 0012 20.055a11.952 11.952 0 00-6.824-2.998 12.078 12.078 0 01.665-6.479L12 14zm-4 6v-7.5l4-2.222" />
                </svg>
                <span><%= t("priority_excellent") %></span>
              <% end %>
            <% end %>
            <% if bookmark_self.can_destroy_by?(current_user) %>
              <%= link_to bookmark_path(bookmark_self), method: :delete, remote: true, data: {confirm: t("confirm_delete")}, class: "relative flex items-center space-x-1 px-2 py-2 hover:text-gray-800" do %>
                <svg class="w-5 h-5" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke="currentColor">
                  <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M19 7l-.867 12.142A2 2 0 0116.138 21H7.862a2 2 0 01-1.995-1.858L5 7m5 4v6m4-6v6m1-10V4a1 1 0 00-1-1h-4a1 1 0 00-1 1v3M4 7h16" />
                </svg>
                <span><%= t("delete") %></span>
              <% end %>
            <% end %>
          </div>
        </div>
      </div>
    </div>
    <div class="flex justify-end text-gray-500 text-sm leading-5 space-x-0.5 lg:space-x-2">
      <span><%= link_to bookmark.user&.username, user_path(bookmark.user_id) %></span>
      <span>&middot;</span>
      <span class="timeago" datetime="<%= controller_name == "users" ? bookmark.shared_at.to_s : bookmark.created_at.to_s %>"></span>
    </div>
  </div>
  <div data-target="remote-forms.container">
  </div>
</li>
