<div class="pl-4 pr-6 pt-4 pb-4 border-b border-t border-gray-200 sm:pl-6 lg:pl-8 xl:pl-6 xl:pt-6 xl:border-t-0">
  <div class="flex items-center justify-start">
    <span class="relative z-0 inline-flex shadow-sm rounded-md">
      <%= filter_link_to_active t("daily"), root_path(params.permit(:dt, :tag).merge(dt: :daily)), :daily, type: "button", class: "relative inline-flex items-center px-4 py-2 rounded-l-md border border-gray-300 bg-white text-sm leading-5 font-medium text-gray-700 hover:text-gray-500 focus:z-10 focus:outline-none focus:border-blue-300 focus:shadow-outline-blue active:bg-gray-100 active:text-gray-700 transition ease-in-out duration-150", data: {remote: true, action: "ajax:success->listing#replace"} %>
      <%= filter_link_to_active t("weekly"), root_path(params.permit(:dt, :tag).merge(dt: :weekly)),  :weekly, type: 'button', class: "-ml-px relative inline-flex items-center px-4 py-2 border border-gray-300 bg-white text-sm leading-5 font-medium text-gray-700 hover:text-gray-500 focus:z-10 focus:outline-none focus:border-blue-300 focus:shadow-outline-blue active:bg-gray-100 active:text-gray-700 transition ease-in-out duration-150", data: {remote: true, action: "ajax:success->listing#replace"} %>

      <%= filter_link_to_active t("monthly"), root_path(params.permit(:dt, :tag).merge(dt: :monthly)), :monthly, class: "button -ml-px relative inline-flex items-center px-4 py-2 border border-gray-300 bg-white text-sm leading-5 font-medium text-gray-700 hover:text-gray-500 focus:z-10 focus:outline-none focus:border-blue-300 focus:shadow-outline-blue active:bg-gray-100 active:text-gray-700 transition ease-in-out duration-150", type: "button", data: {remote: true, action: "ajax:success->listing#replace"} %>

      <%= filter_link_to_active t("smart"), root_path(params.permit(:dt, :tag).merge(dt: :smart)), :smart, class: "button -ml-px relative inline-flex items-center px-4 py-2 border border-gray-300 bg-white text-sm leading-5 font-medium text-gray-700 hover:text-gray-500 focus:z-10 focus:outline-none focus:border-blue-300 focus:shadow-outline-blue active:bg-gray-100 active:text-gray-700 transition ease-in-out duration-150", type: "button", data: {remote: true, action: "ajax:success->listing#replace"} %>

      <%= filter_link_to_active t("all"), root_path(params.permit(:dt, :tag).merge(dt: :all)), :all, type: "button", class: "-ml-px relative inline-flex items-center px-4 py-2 rounded-r-md border border-gray-300 bg-white text-sm leading-5 font-medium text-gray-700 hover:text-gray-500 focus:z-10 focus:outline-none focus:border-blue-300 focus:shadow-outline-blue active:bg-gray-100 active:text-gray-700 transition ease-in-out duration-150", data: {remote: true, action: "ajax:success->listing#replace"} %>
    </span>

  </div>
</div>