<% if @tag.present? %>
  <% title(@tag) %>
<% elsif @query.present? %>
  <% title(t("search_results", query: @query)) %>
<% end %>

<!-- Left sidebar & main wrapper -->
<div class="flex space-x-4">
  <div class="flex-auto">
    <div class="mb-2 lg:mb-4">
      <%= form_with(model: Bookmark.new, url: bookmarks_path, html: { autocomplete: :off }) do |f| %>
        <div class="bg-primary rounded-primary padding-primary border-color-primary border flex items-stretch">
          <%= f.url_field :url, placeholder: 'https://', class: "bg-white w-full appearance-none bg-transparent border border-color-primary flex-1 text-gray-700 mr-3 py-1 px-2 leading-tight focus:outline-none", data: { target: 'bookmarks.input' } %>
          <div class="rounded-sm shadow">
            <%= f.button class: "btn-primary", type: 'submit', data: {disable_with: disable_with_spinner(t("send"))} do  %>
              <svg class="mr-1 h-4 w-4" viewBox="0 0 15 15" fill="none" xmlns="http://www.w3.org/2000/svg" width="15" height="15">
                <path d="M14.5.5l.46.197a.5.5 0 00-.657-.657L14.5.5zm-14 6l-.197-.46a.5.5 0 00-.06.889L.5 6.5zm8 8l-.429.257a.5.5 0 00.889-.06L8.5 14.5zM14.303.04l-14 6 .394.92 14-6-.394-.92zM.243 6.93l5 3 .514-.858-5-3-.514.858zM5.07 9.757l3 5 .858-.514-3-5-.858.514zm3.889 4.94l6-14-.92-.394-6 14 .92.394zM14.146.147l-9 9 .708.707 9-9-.708-.708z" fill="currentColor"></path>
              </svg>
              <%= t("send") %>
            <% end %>
          </div>
        </div>
      <% end %>
    </div>
    <!-- Projects List -->
    <div data-controller="bookmarks">
      <div data-controller="listing" data-target="listing.container">
        <%= render "bookmarks/bookmarks_with_pagination", suggest_tags: @suggest_tags, lang: @lang %>
      </div>
    </div>
  </div>
  <div class="hidden lg:block w-80 flex-shrink-0">
    <div class="space-y-2 lg:space-y-4">
      <%= render_async top_hackers_users_path, html_options: { nonce: true } %>
      
      
      <%= render "bookmarks/tag_subscribe", followed_tags: @followed_tags, unfollowed_tags: @unfollowed_tags %>
    </div>
  </div>
</div>
