<% content_for(:title) do %>
  <%= @bookmark.title %>
<% end %>

<% content_for(:keywords) do %>
  <%= @bookmark.tags.map{|t| t.name}.join(", ") %>
<% end %>

<% content_for(:description) do %>
  <%= @bookmark.description %>
<% end %>

<!-- 3 column wrapper -->
<div class="flex-grow w-full max-w-7xl mx-auto lg:flex">
  <!-- Left sidebar & main wrapper -->
  <div class="flex-1 min-w-0 bg-white lg:flex">
    <%= render partial: "users/user_side", locals: {user: @bookmark.only_first.user } %>

    <!-- Projects List -->
    <div class="bg-white lg:min-w-0 lg:flex-1">
        <div class="lg:pl-4">
          <ul class="relative z-0 divide-y divide-gray-200" >
            <%= render partial: "bookmarks/bookmark", object: @bookmark.only_first, locals: {bookmark_self: @bookmark} %>
          </ul>
        </div>
        <div data-controller="comments">
          <div class="bg-gray-50 lg:flex-shrink-0" >
            <div class="lg:pl-4 w-full">
              <div class="pt-6 pb-2">
                <h2 class="text-sm leading-5 font-semibold"><%= t("comments") %></h2>
              </div>
              <div>
                <ul class="divide-y divide-gray-200 " data-target='comments.list'>
                  <% if @comments.present? %>
                    <% @comments.each do |comment| %>
                      <%= render partial: "comments/comment", locals: {comment: comment} %>
                    <% end %>
                  <% else %>
                    <div class="py-4 text-sm text-gray-500"><%= t("empty_data") %></div>
                  <% end %>
                </ul>
              </div>
            </div>
          </div>
          <%= render partial: 'comments/form', locals: {bookmark: @bookmark} %>
        </div>
    </div>
  </div>
</div>