<% content_for(:title) do %>
  <%= @bookmark.title %>
<% end %>

<% content_for(:keywords) do %>
  <%= @bookmark.tags.map{|t| t.name}.join(", ") %>
<% end %>

<% content_for(:description) do %>
  <%= @bookmark.description %>
<% end %>

<% content_for(:meta) do %>
    <meta property="og:title" content="<%= @bookmark.title %>">
    <meta property="og:description" content="<%= @bookmark.description %>">
    <meta property="og:image" content="<%= @bookmark.images.first || default_image_url %>">
    <meta property="og:url" content="<%= bookmark_url @bookmark %>">
    <meta property="og:site_name" content="Hackershare">


    <meta name="twitter:card" content="summary_large_image">
    <meta name="twitter:url" content="<%= bookmark_url(@bookmark) %>">
    <meta name="twitter:title" content="<%= @bookmark.title %>">
    <meta name="twitter:description" content="<%= @bookmark.description %>">
    <meta name="twitter:image" content="<%= @bookmark.images.first || default_image_url %>">
<% end %>

<%
  user = @bookmark.only_first.user
%>

<div class="space-y-4 lg:space-y-0 lg:flex lg:space-x-4">
  <div class="lg:flex-auto">
    <div class="border border-color-primary rounded-primary">
      <div class="padding-primary space-y-2 lg:space-y-4" data-controller='bookmarks comments'>
        <ul class="relative z-0 divide-y divide-gray-200" >
          <%= render partial: "bookmarks/bookmark", object: @bookmark.only_first, locals: {bookmark_self: @bookmark} %>
        </ul>
        <%= render partial: "bookmarks/similars", locals: { bookmark: @bookmark.only_first, similar_bookmarks: @similar_bookmarks } %>
        <div class="bg-primary rounded-primary padding-primary">
          <div class="mb-4">
            <h2 class="text-sm leading-5 font-semibold"><%= t("comments") %></h2>
          </div>
          <% if @comments.present? %>
            <ul class="my-2 divide-y divide-gray-200 " data-target='comments.list'>
              <% @comments.each do |comment| %>
                <%= render partial: "comments/comment", locals: {comment: comment} %>
              <% end %>
            </ul>
          <% else %>
            <div class="my-2 text-sm text-gray-500"><%= t("empty_data") %></div>
          <% end %>
        </div>
        <%= render partial: 'comments/form', locals: { bookmark: @bookmark } %>
      </div>
    </div>
  </div>
  <div class="lg:w-80 lg:flex-shrink-0">
    <div class="border border-color-primary rounded-primary">
      <div class="bg-primary rounded-t-md border-b border-color-primary padding-primary">
        <div class="flex justify-between items-center">
          <h3 class="mr-2 text-lg leading-6 font-medium text-gray-900 py-2">
            <%= t("user_profile") %>
          </h3>
        </div>
      </div>
      <div class="padding-primary py-4">
        <div class="pb-8 lg:pb-12 lg:border-gray-200">
          <div class="w-full items-center justify-between">
            <div class="space-y-2 lg:space-y-4">
              <%= link_to user_path(user) do %>
                <div class="flex items-center space-x-2">
                  <div class="flex-shrink-0">
                    <%= image_tag user.avatar_url, class: 'h-12 w-12 rounded-full' %>
                  </div>
                  <div class="space-y-1 lg:space-y-2">
                    <div class="text-lg leading-5 font-medium text-gray-900">@<%= user.username %></div>
                  </div>
                </div>
              <% end %>
              <!-- Action buttons -->
              <div class="space-y-2 lg:space-y-4">
                <div class="text-sm leading-5 text-gray-900"><%= user.about %></div>
                <div class="text-sm leading-5 font-medium text-gray-900"><%= link_to user.homepage, user.homepage if user.homepage.present? %></div>
              </div>
              <div class="space-y-2 lg:space-y-4">
                <span data-controller="follows" class="rounded-md shadow-sm">
                  <%= link_to toggle_following_user_path(user), method: :post, type: :button, remote: true, data: {type: :json, action: "ajax:success->follows#toggle"}, class: "w-full max-w-sm inline-flex items-center justify-center px-4 py-2 border border-transparent text-sm leading-5 font-medium rounded-md text-white focus:outline-none transition ease-in-out duration-150 #{user.followed_by?(current_user) ? 'bg-gray-600 hover:bg-gray-500  focus:border-gray-700 focus:shadow-outline-gray active:bg-gray-700' : 'bg-indigo-600 hover:bg-indigo-500  focus:border-indigo-700 focus:shadow-outline-indigo active:bg-indigo-700'} ", "data-target": "follows.button" do %>
                    <%= render_follow_text(user) %>
                  <% end %>
                </span>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
