<div style="font-family: arial, helvetica, sans-serif; font-size: 14px;">
  <div style="background: #f5f8fa; padding: 24px;">
    <div style="margin-bottom: 12px; text-align: right; font-family: verdana, geneva, sans-serif; font-size: 10px; color: #333;">
      <%= t 'email_wrong_tips' %>
      <a target="_blank" href="<%= weekly_selection_url(@weekly_selection.id) %>" style="text-decoration: none; color: #0690FA;">weekly_selections/<%= @weekly_selection.id %></a>
    </div>
    <div style="margin-bottom: 8px; text-align: center; font-size: 20px; color: #333; font-weight: 700;">
      <%= @weekly_selection.full_title %>
    </div>
    <div style="text-align: center; font-size: 16px; color: #333;">
      <%= l @weekly_selection.created_at.to_date %>
    </div>
  </div>
  <div style="padding: 0px 20px; margin: 20px 0px; color: gray; font-size: 16px;">
    <%= I18n.locale == :en ? @weekly_selection.description_en : @weekly_selection.description %>
  </div>
  <div style="padding: 0px 20px;">
    <% @weekly_selection.bookmarks.each_with_index do |bookmark, index| %>
      <a target="_blank" href="<%= bookmark_url(bookmark) %>" style="display: flex; align-items: center; text-decoration: none; padding: 12px 0px; <%= 'border-top: solid 1px #eee;' unless index.zero? %>">
        <div style="margin-right: 24px;">
          <% if bookmark.favicon_local.attached? %>
            <%= image_tag bookmark.favicon_local.service_url, width: '60', height: '60', style: "vertical-align: middle;" %>
          <% else %>
            <%= lavatar_tag bookmark.letter_char, 60 %>
          <% end %>
        </div>
        <div>
          <div style="margin-bottom: 2px; color: #0690FA; font-weight: bold;">
            <%= bookmark.title %>
          </div>
          <div style="margin-bottom: 2px; font-size: 10px; color: grey;">
            <%= bookmark.cached_tag_names %>
          </div>
          <div style="font-size: 14px; color: #606060;">
            <%= bookmark.pinned_comment&.comment %>
          </div>
        </div>
      </a>
    <% end %>
  </div>
  <div style="background: #f5f8fa; padding: 24px;">
    <div style="display: flex; justify-content: center; margin-bottom: 4px;">
      <a target="_blank" href="https://twitter.com/hooopo" style="display: block; margin-right: 8px; background-color: #7AC4F7;">
        <img style="vertical-align: middle;" width="30" height="30" src="https://cdn.hackershare.cn/twitter-logo.png" />
      </a>
      <a target="_blank" href="https://github.com/hackershare" style="display: block;">
        <img style="vertical-align: middle;" width="30" height="30" src="https://cdn.hackershare.cn/github-logo.png" />
      </a>
    </div>
    <div style="text-align: right; font-family: verdana, geneva, sans-serif;">
      <a target="_blank" href="<%= setting_users_url %>" style="text-decoration: none; color: #0690FA; font-size: 10px;">
        <%= t 'unsubscribe' %>
      </a>
    </div>
  </div>
</div>
