<div class="mb-6 mt-2">
  <h3 class="text-lg leading-6 font-medium text-gray-900">
    Summaries
  </h3>
  <div class="mt-5 grid grid-cols-1 gap-5 sm:grid-cols-3">
    <div class="bg-white overflow-hidden shadow rounded-lg">
      <div class="px-4 py-5 sm:p-6">
        <dl>
          <dt class="text-sm leading-5 font-medium text-gray-500 truncate">
            Total Bookmarks
          </dt>
          <dd class="mt-1 text-3xl leading-9 font-semibold text-gray-900">
            <%= Bookmark.count %>
          </dd>
        </dl>
      </div>
    </div>
    <div class="bg-white overflow-hidden shadow rounded-lg">
      <div class="px-4 py-5 sm:p-6">
        <dl>
          <dt class="text-sm leading-5 font-medium text-gray-500 truncate">
            Total Users
          </dt>
          <dd class="mt-1 text-3xl leading-9 font-semibold text-gray-900">
            <%= User.count %>
          </dd>
        </dl>
      </div>
    </div>

    <div class="bg-white overflow-hidden shadow rounded-lg">
      <div class="px-4 py-5 sm:p-6">
        <dl>
          <dt class="text-sm leading-5 font-medium text-gray-500 truncate">
            Total Tags
          </dt>
          <dd class="mt-1 text-3xl leading-9 font-semibold text-gray-900">
            <%= Tag.count %>
          </dd>
        </dl>
      </div>
    </div>

    <div class="bg-white overflow-hidden shadow rounded-lg">
      <div class="px-4 py-5 sm:p-6">
        <dl>
          <dt class="text-sm leading-5 font-medium text-gray-500 truncate">
            Total Likes
          </dt>
          <dd class="mt-1 text-3xl leading-9 font-semibold text-gray-900">
            <%= Like.count %>
          </dd>
        </dl>
      </div>
    </div>

    <div class="bg-white overflow-hidden shadow rounded-lg">
      <div class="px-4 py-5 sm:p-6">
        <dl>
          <dt class="text-sm leading-5 font-medium text-gray-500 truncate">
            Total Clicks
          </dt>
          <dd class="mt-1 text-3xl leading-9 font-semibold text-gray-900">
            <%= Click.count %>
          </dd>
        </dl>
      </div>
    </div>

    <div class="bg-white overflow-hidden shadow rounded-lg">
      <div class="px-4 py-5 sm:p-6">
        <dl>
          <dt class="text-sm leading-5 font-medium text-gray-500 truncate">
            Total Comments
          </dt>
          <dd class="mt-1 text-3xl leading-9 font-semibold text-gray-900">
            <%= Comment.count %>
          </dd>
        </dl>
      </div>
    </div>

    <div class="bg-white overflow-hidden shadow rounded-lg">
      <div class="px-4 py-5 sm:p-6">
        <dl>
          <dt class="text-sm leading-5 font-medium text-gray-500 truncate">
            Total Follows
          </dt>
          <dd class="mt-1 text-3xl leading-9 font-semibold text-gray-900">
            <%= Follow.count %>
          </dd>
        </dl>
      </div>
    </div>

    <div class="bg-white overflow-hidden shadow rounded-lg">
      <div class="px-4 py-5 sm:p-6">
        <dl>
          <dt class="text-sm leading-5 font-medium text-gray-500 truncate">
            Total Subscriptions
          </dt>
          <dd class="mt-1 text-3xl leading-9 font-semibold text-gray-900">
            <%= TagSubscription.count %>
          </dd>
        </dl>
      </div>
    </div>

  </div>
</div>

<div class="mb-4">
  <h3 class="text-lg leading-6 font-medium text-gray-900">
    New Users
  </h3>
  <ul class="my-2 lg:my-4 text-center grid grid-cols-4 gap-4 lg:grid-cols-8 lg:gap-8" data-target='bookmarks.list'>
    <% User.order(id: :desc).limit(24).each do |user| %>
      <li>
        <div class="space-y-2">
          <%= link_to image_tag(user.avatar_url, title: user.username, alt: user.username, class: "mx-auto h-12 w-12 rounded-full lg:w-20 lg:h-20"), user_path(user) %>
          <div class="text-xs leading-4 font-medium lg:text-sm lg:leading-5">
            <h4><%= user.username %></h4>
          </div>
        </div>
      </li>
    <% end %>
  </ul>
</div>
