<div class="mb-6 mt-2">
  <h3 class="text-lg leading-6 font-medium text-gray-900">
    Total
  </h3>
  <div class="mt-5 grid grid-cols-1 gap-5 sm:grid-cols-3">
    <div class="bg-white overflow-hidden shadow rounded-lg">
      <div class="px-4 py-5 sm:p-6">
        <dl>
          <dt class="text-sm leading-5 font-medium text-gray-500 truncate">
            Total Bookmarks
          </dt>
          <dd class="mt-1 text-3xl leading-9 font-semibold text-gray-900">
            <%= Bookmark.count %>
          </dd>
        </dl>
      </div>
    </div>
    <div class="bg-white overflow-hidden shadow rounded-lg">
      <div class="px-4 py-5 sm:p-6">
        <dl>
          <dt class="text-sm leading-5 font-medium text-gray-500 truncate">
            Total Users
          </dt>
          <dd class="mt-1 text-3xl leading-9 font-semibold text-gray-900">
            <%= User.count %>
          </dd>
        </dl>
      </div>
    </div>

    <div class="bg-white overflow-hidden shadow rounded-lg">
      <div class="px-4 py-5 sm:p-6">
        <dl>
          <dt class="text-sm leading-5 font-medium text-gray-500 truncate">
            Total Tags
          </dt>
          <dd class="mt-1 text-3xl leading-9 font-semibold text-gray-900">
            <%= Tag.count %>
          </dd>
        </dl>
      </div>
    </div>

    <div class="bg-white overflow-hidden shadow rounded-lg">
      <div class="px-4 py-5 sm:p-6">
        <dl>
          <dt class="text-sm leading-5 font-medium text-gray-500 truncate">
            Total Likes
          </dt>
          <dd class="mt-1 text-3xl leading-9 font-semibold text-gray-900">
            <%= Like.count %>
          </dd>
        </dl>
      </div>
    </div>

    <div class="bg-white overflow-hidden shadow rounded-lg">
      <div class="px-4 py-5 sm:p-6">
        <dl>
          <dt class="text-sm leading-5 font-medium text-gray-500 truncate">
            Total Clicks
          </dt>
          <dd class="mt-1 text-3xl leading-9 font-semibold text-gray-900">
            <%= Click.count %>
          </dd>
        </dl>
      </div>
    </div>

    <div class="bg-white overflow-hidden shadow rounded-lg">
      <div class="px-4 py-5 sm:p-6">
        <dl>
          <dt class="text-sm leading-5 font-medium text-gray-500 truncate">
            Total Comments
          </dt>
          <dd class="mt-1 text-3xl leading-9 font-semibold text-gray-900">
            <%= Comment.count %>
          </dd>
        </dl>
      </div>
    </div>

    <div class="bg-white overflow-hidden shadow rounded-lg">
      <div class="px-4 py-5 sm:p-6">
        <dl>
          <dt class="text-sm leading-5 font-medium text-gray-500 truncate">
            Total Follows
          </dt>
          <dd class="mt-1 text-3xl leading-9 font-semibold text-gray-900">
            <%= Follow.count %>
          </dd>
        </dl>
      </div>
    </div>

    <div class="bg-white overflow-hidden shadow rounded-lg">
      <div class="px-4 py-5 sm:p-6">
        <dl>
          <dt class="text-sm leading-5 font-medium text-gray-500 truncate">
            Total Subscriptions
          </dt>
          <dd class="mt-1 text-3xl leading-9 font-semibold text-gray-900">
            <%= TagSubscription.count %>
          </dd>
        </dl>
      </div>
    </div>

  </div>
</div>

<div class="mb-4">
  <h3 class="text-lg leading-6 font-medium text-gray-900">
    Last 30 days (TODO)
  </h3>
  <div class="mt-5 grid grid-cols-1 gap-5 sm:grid-cols-3">
    <div class="bg-white overflow-hidden shadow rounded-lg">
      <div class="px-4 py-5 sm:p-6">
        <dl>
          <dt class="text-sm leading-5 font-medium text-gray-500 truncate">
            Total Subscribers
          </dt>
          <dd class="mt-1 text-3xl leading-9 font-semibold text-gray-900">
            71,897
          </dd>
        </dl>
      </div>
    </div>
    <div class="bg-white overflow-hidden shadow rounded-lg">
      <div class="px-4 py-5 sm:p-6">
        <dl>
          <dt class="text-sm leading-5 font-medium text-gray-500 truncate">
            Avg. Open Rate
          </dt>
          <dd class="mt-1 text-3xl leading-9 font-semibold text-gray-900">
            58.16%
          </dd>
        </dl>
      </div>
    </div>
    <div class="bg-white overflow-hidden shadow rounded-lg">
      <div class="px-4 py-5 sm:p-6">
        <dl>
          <dt class="text-sm leading-5 font-medium text-gray-500 truncate">
            Avg. Click Rate
          </dt>
          <dd class="mt-1 text-3xl leading-9 font-semibold text-gray-900">
            24.57%
          </dd>
        </dl>
      </div>
    </div>
  </div>
</div>

<div class="mb-4">
  <h3 class="text-lg leading-6 font-medium text-gray-900">
    Last 30 days increment (TODO)
  </h3>
  <div class="mt-5 grid grid-cols-1 gap-5 sm:grid-cols-3">
    <div class="bg-white overflow-hidden shadow rounded-lg">
      <div class="px-4 py-5 sm:p-6">
        <dl>
          <dt class="text-sm leading-5 font-medium text-gray-500 truncate">
            Total Subscribers
          </dt>
          <dd class="mt-1 text-3xl leading-9 font-semibold text-gray-900">
            71,897
          </dd>
        </dl>
      </div>
    </div>
    <div class="bg-white overflow-hidden shadow rounded-lg">
      <div class="px-4 py-5 sm:p-6">
        <dl>
          <dt class="text-sm leading-5 font-medium text-gray-500 truncate">
            Avg. Open Rate
          </dt>
          <dd class="mt-1 text-3xl leading-9 font-semibold text-gray-900">
            58.16%
          </dd>
        </dl>
      </div>
    </div>
    <div class="bg-white overflow-hidden shadow rounded-lg">
      <div class="px-4 py-5 sm:p-6">
        <dl>
          <dt class="text-sm leading-5 font-medium text-gray-500 truncate">
            Avg. Click Rate
          </dt>
          <dd class="mt-1 text-3xl leading-9 font-semibold text-gray-900">
            24.57%
          </dd>
        </dl>
      </div>
    </div>
  </div>
</div>
