<ul class="divide-y divide-gray-200" aria-disabled="true">
  <% if @notifications.present? %>
    <% @notifications.each do |notification| %>
      <% n=notification.to_notification%>
      <li class="">
        <a href="<%= n.url %>" class="block hover:bg-gray-50 focus:outline-none focus:bg-gray-50 transition duration-150 ease-in-out">
          <div class="px-1 py-2 lg:px-2 lg:py-4">
            <div class="flex items-center justify-between">
              <div class="text-sm leading-5 font-medium text-indigo-600 truncate">
                <div class="flex items-center  leading-5">
                  <span class="block h-2 w-2 rounded-full text-white shadow-solid <%= notification.read? ? 'bg-gray-400' : 'bg-red-400' %>"></span>
                  <div class="ml-2 <%= notification.read? ? 'text-gray-500' : '' %> "><%= n.message %></div>
              </div>
                
              </div>
              <div class="ml-2 flex-shrink-0 flex">
                <span class="px-2 inline-flex text-xs leading-5 font-semibold rounded-full bg-green-100 text-green-800">
                  <%= n.type_name %>
                </span>
              </div>
            </div>
            <div class="mt-2 flex justify-between">
              <div class="mr-6 flex items-center text-sm leading-5 text-gray-500">
                <% if n.class.to_s == "TagNotification" %>
                  <svg class="w-4 h-5 mr-1" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke="currentColor">
                    <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M7 7h.01M7 3h5c.512 0 1.024.195 1.414.586l7 7a2 2 0 010 2.828l-7 7a2 2 0 01-2.828 0l-7-7A1.994 1.994 0 013 12V7a4 4 0 014-4z" />
                  </svg>
                  <%= n.tag&.name %>
                <% else %>
                  <svg class="w-4 h-5 mr-1" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke="currentColor">
                    <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M5.121 17.804A13.937 13.937 0 0112 16c2.5 0 4.847.655 6.879 1.804M15 10a3 3 0 11-6 0 3 3 0 016 0zm6 2a9 9 0 11-18 0 9 9 0 0118 0z" />
                  </svg>
                  <%= n.user&.username %>
                <% end %>
              </div>
            </div>
          </div>
        </a>
      </li>
    <% end %>
  <% else %>
    <div class="text-gray-500 text-sm">
      <%= t("empty_data") %>
    </div>
  <% end %>
</ul>
<%= render partial: 'layouts/pagination', locals: {pagy: @pagy} %>