<ul class="" aria-disabled="true">
  <% @notifications.each do |notification| %>
    <% n=notification.to_notification%>
    <li class="<%= notification.read? ? 'bg-gray-100' : '' %>">
      <a href="<%= n.url %>" class="block hover:bg-gray-50 focus:outline-none focus:bg-gray-50 transition duration-150 ease-in-out">
        <div class="px-4 py-4 sm:px-6">
          <div class="flex items-center justify-between">
            <div class="text-sm leading-5 font-medium text-indigo-600 truncate">
              <%= n.message %>
              
            </div>
            <div class="ml-2 flex-shrink-0 flex">
              <span class="px-2 inline-flex text-xs leading-5 font-semibold rounded-full bg-green-100 text-green-800">
                <%= n.type_name %>
              </span>
            </div>
          </div>
          <div class="mt-2 flex justify-between">
            <div class="sm:flex">
              <div class="mr-6 flex items-center text-sm leading-5 text-gray-500">
                <svg class="flex-shrink-0 mr-1.5 h-5 w-5 text-gray-400" viewBox="0 0 20 20" fill="currentColor">
                  <path d="M9 6a3 3 0 11-6 0 3 3 0 016 0zM17 6a3 3 0 11-6 0 3 3 0 016 0zM12.93 17c.046-.327.07-.66.07-1a6.97 6.97 0 00-1.5-4.33A5 5 0 0119 16v1h-6.07zM6 11a5 5 0 015 5v1H1v-1a5 5 0 015-5z"></path>
                </svg>
                <%= n.user.username %>
              </div>

            </div>

          </div>
        </div>
      </a>
    </li>
  <% end %>
</ul>
<%= render partial: 'layouts/pagination', locals: {pagy: @pagy} %>