<% title(t("notification")) %>

<div class="overflow-hidden border border-color-primary rounded-primary">
  <div class="bg-primary rounded-t-md border-b border-color-primary padding-primary">
    <div class="flex justify-between items-center">
      <h3 class="mr-2 text-lg leading-6 font-medium text-gray-900 py-2">
        <%= t("notification") %>
      </h3>
      <div class="flex space-x-1">
        <%= link_to clear_all_notifications_path, method: :post, class: "btn-cancel", remote: true, data: { disable_with: disable_with_spinner(t("clear_all")) } do %>
          <svg class="mr-1 w-4 h-4" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke="currentColor">
            <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M19 7l-.867 12.142A2 2 0 0116.138 21H7.862a2 2 0 01-1.995-1.858L5 7m5 4v6m4-6v6m1-10V4a1 1 0 00-1-1h-4a1 1 0 00-1 1v3M4 7h16" />
          </svg>
          <%= t("clear_all") %>
        <% end %>
        <%= link_to read_all_notifications_path, method: :post, class: "btn-primary", remote: true, data: { disable_with: disable_with_spinner(t("read_all")) } do %>
          <svg class="mr-1 w-4 h-4" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke="currentColor">
            <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M9 5H7a2 2 0 00-2 2v12a2 2 0 002 2h10a2 2 0 002-2V7a2 2 0 00-2-2h-2M9 5a2 2 0 002 2h2a2 2 0 002-2M9 5a2 2 0 012-2h2a2 2 0 012 2m-6 9l2 2 4-4" />
          </svg>
          <%= t("read_all") %>
        <% end %>
      </div>
    </div>
  </div>
  <div class="padding-primary">
    <div data-controller="listing" data-target="listing.container">
      <%= render partial: "notifications/list" %>
    </div>
  </div>
</div>
