<% title(t("settings")) %>

<div class="border border-color-primary rounded-primary">
  <div class="bg-primary rounded-t-md border-b border-color-primary padding-primary">
    <div class="flex justify-between items-center">
      <h3 class="mr-2 text-lg leading-6 font-medium text-gray-900 py-2">
        <%= t("settings") %>
      </h3>
      <p class="mt-1 max-w-2xl text-sm leading-5 text-gray-500">
        <%= t("this_information_will_be_displayed_publicly_so_be_careful_what_you_share") %>
      </p>
    </div>
  </div>
  <div class="padding-primary">
    <%= form_with(model: @user, url: update_setting_users_path, method: :put) do |f| %>
      <div>
        <div>
          <!-- 1-->
          <div class="mt-6 sm:mt-5">
            <div class="sm:grid sm:grid-cols-3 sm:gap-4 sm:items-start sm:border-t sm:border-gray-200 sm:pt-5">
              <%= f.label :username, class: "block text-sm font-medium leading-5 text-gray-700 sm:mt-px sm:pt-2" %>
              <div class="mt-1 sm:mt-0 sm:col-span-2">
                <div class="flex rounded-md shadow-sm">
                  <span class="inline-flex items-center px-3 rounded-l-md border border-r-0 border-gray-300 bg-gray-50 text-gray-500 sm:text-sm">
                    https://hackershare.dev/
                  </span>
                  <%= f.text_field :username, class: "flex-1 form-input block w-full min-w-0 rounded-none rounded-r-md transition duration-150 ease-in-out sm:text-sm sm:leading-5" %>
                </div>
              </div>
            </div>
            <div class="mt-6 sm:mt-5 sm:grid sm:grid-cols-3 sm:gap-4 sm:items-start sm:border-t sm:border-gray-200 sm:pt-5">
              <%= f.label :homepage, class: "block text-sm font-medium leading-5 text-gray-700 sm:mt-px sm:pt-2" %>
              <div class="mt-1 sm:mt-0 sm:col-span-2">
                <div class="flex rounded-md shadow-sm">

                  <%= f.text_field :homepage, class: "form-textarea block w-full transition duration-150 ease-in-out sm:text-sm sm:leading-5", type: 'url' %>
                </div>
              </div>
            </div>
            <div class="mt-6 sm:mt-5 sm:grid sm:grid-cols-3 sm:gap-4 sm:items-start sm:border-t sm:border-gray-200 sm:pt-5">
              <%= f.label :enable_email_notification, class: "block text-sm font-medium leading-5 text-gray-700 sm:mt-px sm:pt-2" %>
              <div class="mt-1 sm:mt-0 sm:col-span-2">
                <%= f.check_box :enable_email_notification, class: "form-checkbox h-4 w-4 text-indigo-600 transition duration-150 ease-in-out" %>
              </div>
            </div>
            <div class="mt-6 sm:mt-5 sm:grid sm:grid-cols-3 sm:gap-4 sm:items-start sm:border-t sm:border-gray-200 sm:pt-5">
              <%= f.label :default_bookmark_lang, class: "block text-sm font-medium leading-5 text-gray-700 sm:mt-px sm:pt-2" %>
              <div class="mt-1 sm:mt-0 sm:col-span-2">
                <div class="flex rounded-md shadow-sm">
                  <%= f.select :default_bookmark_lang, User.default_bookmark_langs.keys.map { |lang| [t(lang), lang] }, {}, class: "form-textarea block w-full transition duration-150 ease-in-out sm:text-sm sm:leading-5", type: 'url' %>
                </div>
              </div>
            </div>
            <div class="mt-6 sm:mt-5 sm:grid sm:grid-cols-3 sm:gap-4 sm:items-start sm:border-t sm:border-gray-200 sm:pt-5">
              <%= f.label :about, class: "block text-sm font-medium leading-5 text-gray-700 sm:mt-px sm:pt-2" %>
              <div class="mt-1 sm:mt-0 sm:col-span-2">
                <div class="flex rounded-md shadow-sm">
                  <%= f.text_area :about, class: "form-textarea block w-full transition duration-150 ease-in-out sm:text-sm sm:leading-5", rows: 5 %>
                </div>
                <p class="mt-2 text-sm text-gray-500"><%= t("write_a_few_sentences_about_yourself") %></p>
              </div>
            </div>
            <div class="mt-6 sm:mt-5 sm:grid sm:grid-cols-3 sm:gap-4 sm:items-center sm:border-t sm:border-gray-200 sm:pt-5">
              <label for="photo" class="block text-sm leading-5 font-medium text-gray-700">
                <%= t("avatar") %>
              </label>
              <div class="mt-2 sm:mt-0 sm:col-span-2">
                <div class="lg:flex items-center">
                  <div class="h-8 w-8 mb-1 lg:mb-0 lg:mr-4 lg:h-12 lg:w-12 rounded-full overflow-hidden bg-gray-100">
                    <% if @user.avatar_url %>
                      <%= image_tag @user.avatar_url, class: 'w-full' %>
                    <% else %>
                      <svg class="w-full lg:h-12 lg:w-12 text-gray-300" fill="currentColor" viewBox="0 0 24 24">
                        <path d="M24 20.993V24H0v-2.996A14.977 14.977 0 0112.004 15c4.904 0 9.26 2.354 11.996 5.993zM16.002 8.999a4 4 0 11-8 0 4 4 0 018 0z" />
                      </svg>
                    <% end %>
                  </div>
                  <div class="rounded-md shadow-sm lg:flex-grow">
                    <%= f.file_field :avatar, class: "w-full py-2 px-3 border border-gray-300 rounded-md text-sm leading-4 font-medium text-gray-700 hover:text-gray-500 focus:outline-none focus:border-blue-300 focus:shadow-outline-blue active:bg-gray-50 active:text-gray-800 transition duration-150 ease-in-out" %>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="mt-8 border-t border-gray-200 pt-5">
        <div class="flex justify-end">
          <span class="ml-3 inline-flex rounded-md shadow-sm">
            <%= f.button class: "btn-primary", data: { disable_with: disable_with_spinner(t("save")) } do %>
              <svg class="w-4 h-4 mr-1" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke="currentColor">
                <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M5 13l4 4L19 7" />
              </svg>
              <%= t("save") %>
            <% end %>
          </span>
        </div>
      </div>
    <% end %>
  </div>
</div>
