<div class="mt-10">
  <%= form_with(model: @user, url: update_setting_users_path, method: :put) do |f| %>
    <div>
      <div>
        <!-- 1-->
        <div>
          <h3 class="text-lg leading-6 font-medium text-gray-900">
            Profile
          </h3>
          <p class="mt-1 max-w-2xl text-sm leading-5 text-gray-500">
            This information will be displayed publicly so be careful what you share.
          </p>
        </div>
        <div class="mt-6 sm:mt-5">
          <div class="sm:grid sm:grid-cols-3 sm:gap-4 sm:items-start sm:border-t sm:border-gray-200 sm:pt-5">
            <%= f.label :username, class: "block text-sm font-medium leading-5 text-gray-700 sm:mt-px sm:pt-2" %>
            <div class="mt-1 sm:mt-0 sm:col-span-2">
              <div class="max-w-lg flex rounded-md shadow-sm">
                <span class="inline-flex items-center px-3 rounded-l-md border border-r-0 border-gray-300 bg-gray-50 text-gray-500 sm:text-sm">
                  https://stackshare.dev/
                </span>
                <%= f.text_field :username, class: "flex-1 form-input block w-full min-w-0 rounded-none rounded-r-md transition duration-150 ease-in-out sm:text-sm sm:leading-5" %>
              </div>
            </div>
          </div>


           <div class="mt-6 sm:mt-5 sm:grid sm:grid-cols-3 sm:gap-4 sm:items-start sm:border-t sm:border-gray-200 sm:pt-5">
            <%= f.label :homepage, class: "block text-sm font-medium leading-5 text-gray-700 sm:mt-px sm:pt-2" %>
            <div class="mt-1 sm:mt-0 sm:col-span-2">
              <div class="max-w-lg flex rounded-md shadow-sm">

                <%= f.text_field :homepage, class: "form-textarea block w-full transition duration-150 ease-in-out sm:text-sm sm:leading-5", type: 'url' %>
              </div>
            </div>
          </div>

          <div class="mt-6 sm:mt-5 sm:grid sm:grid-cols-3 sm:gap-4 sm:items-start sm:border-t sm:border-gray-200 sm:pt-5">
            <%= f.label :about, class: "block text-sm font-medium leading-5 text-gray-700 sm:mt-px sm:pt-2" %>
            <div class="mt-1 sm:mt-0 sm:col-span-2">
              <div class="max-w-lg flex rounded-md shadow-sm">

                <%= f.text_area :about, class: "form-textarea block w-full transition duration-150 ease-in-out sm:text-sm sm:leading-5", rows: 5 %>
              </div>
              <p class="mt-2 text-sm text-gray-500">Write a few sentences about yourself.</p>
            </div>
          </div>

          <div class="mt-6 sm:mt-5 sm:grid sm:grid-cols-3 sm:gap-4 sm:items-center sm:border-t sm:border-gray-200 sm:pt-5">
            <label for="photo" class="block text-sm leading-5 font-medium text-gray-700">
              Avatar
            </label>
            <div class="mt-2 sm:mt-0 sm:col-span-2">
              <div class="flex items-center">
                <span class="h-12 w-12 rounded-full overflow-hidden bg-gray-100">
                  <% if @user.avatar_url %>
                    <%= image_tag @user.avatar_url %>
                  <% else %>
                    <svg class="h-full w-full text-gray-300" fill="currentColor" viewBox="0 0 24 24">
                      <path d="M24 20.993V24H0v-2.996A14.977 14.977 0 0112.004 15c4.904 0 9.26 2.354 11.996 5.993zM16.002 8.999a4 4 0 11-8 0 4 4 0 018 0z" />
                    </svg>
                  <% end %>
                </span>
                <span class="ml-5 rounded-md shadow-sm">
                  <%= f.file_field :avatar, class: "py-2 px-3 border border-gray-300 rounded-md text-sm leading-4 font-medium text-gray-700 hover:text-gray-500 focus:outline-none focus:border-blue-300 focus:shadow-outline-blue active:bg-gray-50 active:text-gray-800 transition duration-150 ease-in-out" %>
                </span>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    
    <div class="mt-8 border-t border-gray-200 pt-5">
      <div class="flex justify-end">
        <span class="ml-3 inline-flex rounded-md shadow-sm">
          <%= f.submit "Save", class: "inline-flex justify-center py-2 px-4 border border-transparent text-sm leading-5 font-medium rounded-md text-white bg-indigo-600 hover:bg-indigo-500 focus:outline-none focus:border-indigo-700 focus:shadow-outline-indigo active:bg-indigo-700 transition duration-150 ease-in-out", data: {disable_with: "Waiting..."} %>
        </span>
      </div>
    </div>
  <% end %>
</div>
