<!--hero section-->
<div class="relative bg-gray-50 overflow-hidden">
  <div class="hidden sm:block sm:absolute sm:inset-y-0 sm:h-full sm:w-full">
    <div class="relative h-full max-w-screen-xl mx-auto">
      <svg class="absolute right-full transform translate-y-1/4 translate-x-1/4 lg:translate-x-1/2" width="404" height="784" fill="none" viewBox="0 0 404 784">
        <defs>
          <pattern id="f210dbf6-a58d-4871-961e-36d5016a0f49" x="0" y="0" width="20" height="20" patternUnits="userSpaceOnUse">
            <rect x="0" y="0" width="4" height="4" class="text-gray-200" fill="currentColor"></rect>
          </pattern>
        </defs>
        <rect width="404" height="784" fill="url(#f210dbf6-a58d-4871-961e-36d5016a0f49)"></rect>
      </svg>
      <svg class="absolute left-full transform -translate-y-3/4 -translate-x-1/4 md:-translate-y-1/2 lg:-translate-x-1/2" width="404" height="784" fill="none" viewBox="0 0 404 784">
        <defs>
          <pattern id="5d0dd344-b041-4d26-bec4-8d33ea57ec9b" x="0" y="0" width="20" height="20" patternUnits="userSpaceOnUse">
            <rect x="0" y="0" width="4" height="4" class="text-gray-200" fill="currentColor"></rect>
          </pattern>
        </defs>
        <rect width="404" height="784" fill="url(#5d0dd344-b041-4d26-bec4-8d33ea57ec9b)"></rect>
      </svg>
    </div>
  </div>
  <div class="relative pt-6 pb-12 sm:pb-16 md:pb-20 lg:pb-28 xl:pb-32">
    <div class="max-w-screen-xl mx-auto px-4 sm:px-6">
      <nav class="flex items-center justify-between sm:h-10">
        <%= link_to root_path do %>
          <%= image_tag("logo.png", class: "h-8 w-auto sm:h-10") %>
        <% end %>
        <%= link_to url_for(set_locale: true, locale: (I18n.locale == :en ? :cn : nil)), class: 'flex items-center space-x-0.5 whitespace-no-wrap text-base leading-6 font-medium text-gray-500 hover:text-gray-600 transition ease-in-out duration-150' do %>
          <svg xmlns="http://www.w3.org/2000/svg" class="w-4 h-4" fill="none" viewBox="0 0 24 24" stroke="currentColor">
            <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M21 12a9 9 0 01-9 9m9-9a9 9 0 00-9-9m9 9H3m9 9a9 9 0 01-9-9m9 9c1.657 0 3-4.03 3-9s-1.343-9-3-9m0 18c-1.657 0-3-4.03-3-9s1.343-9 3-9m-9 9a9 9 0 019-9" />
          </svg>
          <span>Chinese</span>
        <% end %>
      </nav>
    </div>

    <main class="mt-10 mx-auto max-w-screen-xl px-4 sm:mt-12 sm:px-6 md:mt-16 lg:mt-20 xl:mt-28">
      <div class="text-center">
        <h2 class="text-4xl tracking-tight leading-10 font-extrabold text-gray-900 sm:text-5xl sm:leading-none md:text-6xl">
          <span>Social bookmarking</span>
          <span class="text-indigo-600">reinvented!</span>
        </h2>
        <p class="mt-3 max-w-md mx-auto text-base text-gray-500 sm:text-lg md:mt-5 md:text-xl md:max-w-3xl">
          Hackershare is where you discover, share, preserve, and organize pages from around the web
        </p>
        <div class="mt-5 max-w-md mx-auto sm:flex sm:justify-center md:mt-8">
          <div class="rounded-md shadow">
            <%= link_to new_session_path, class: 'w-full flex items-center justify-center px-8 py-3 border border-transparent text-base leading-6 font-medium rounded-md text-white bg-indigo-600 hover:bg-indigo-500 focus:outline-none focus:border-indigo-700 focus:shadow-outline-indigo transition duration-150 ease-in-out md:py-4 md:text-lg md:px-10' do %>
              Get early access free!
            <% end %>
          </div>
          <div class="mt-3 rounded-md shadow sm:mt-0 sm:ml-3">
            <%= link_to bookmarks_path, class: 'w-full flex items-center justify-center px-8 py-3 border border-transparent text-base leading-6 font-medium rounded-md text-indigo-600 bg-white hover:text-indigo-500 focus:outline-none focus:border-indigo-300 focus:shadow-outline-indigo transition duration-150 ease-in-out md:py-4 md:text-lg md:px-10' do %>
              Live demo
            <% end %>
          </div>
        </div>
      </div>
    </main>
  </div>
</div>

<!-- feature one -->
<div class="bg-white overflow-hidden">
  <div class="relative mx-auto px-4 sm:px-6 lg:px-8 max-w-screen-xl">
    <svg class="hidden lg:block absolute left-full transform -translate-x-1/2 -translate-y-1/4" width="404" height="784" fill="none" viewBox="0 0 404 784">
      <defs>
        <pattern id="b1e6e422-73f8-40a6-b5d9-c8586e37e0e7" x="0" y="0" width="20" height="20" patternUnits="userSpaceOnUse">
          <rect x="0" y="0" width="4" height="4" class="text-gray-200" fill="currentColor" />
        </pattern>
      </defs>
      <rect width="404" height="784" fill="url(#b1e6e422-73f8-40a6-b5d9-c8586e37e0e7)" />
    </svg>
    <div class="my-12 sm:my-16 lg:my-24 lg:flex space-y-8 lg:space-y-0 items-center">
      <div class="lg:w-1/3 space-y-4">
        <h4 class="text-2xl leading-8 font-extrabold text-gray-900 tracking-tight sm:text-3xl sm:leading-9">
          The new home for your bookmarkings
        </h4>
        <p class="mt-3 text-lg leading-7 text-gray-500">
          Track web page you’ve read, share you’ve loved, and bookmark that you think you could love. Bring your friends and discover new faves.
        </p>
        <ul class="space-y-2">
          <li>
            <div class="flex items-center space-x-2">
              <div class="flex-shrink-0">
                <div class="flex items-center justify-center p-1 rounded-md bg-indigo-500 text-white">
                  <svg class="w-4" fill="none" viewBox="0 0 24 24" stroke="currentColor">
                    <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M3 6l3 1m0 0l-3 9a5.002 5.002 0 006.001 0M6 7l3 9M6 7l6-2m6 2l3-1m-3 1l-3 9a5.002 5.002 0 006.001 0M18 7l3 9m-3-9l-6-2m0-2v2m0 16V5m0 16H9m3 0h3" />
                  </svg>
                </div>
              </div>
              <div>
                <h5 class="text-base leading-6">Read it later</h5>
              </div>
            </div>
          </li>
          <li>
            <div class="flex items-center space-x-2">
              <div class="flex-shrink-0">
                <div class="flex items-center justify-center p-1 rounded-md bg-indigo-500 text-white">
                  <svg class="w-4" fill="none" viewBox="0 0 24 24" stroke="currentColor">
                    <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M13 10V3L4 14h7v7l9-11h-7z" />
                  </svg>
                </div>
              </div>
              <div>
                <h5 class="text-base leading-6">Discover new favs</h5>
              </div>
            </div>
          </li>
          <li>
            <div class="flex items-center space-x-2">
              <div class="flex-shrink-0">
                <div class="flex items-center justify-center p-1 rounded-md bg-indigo-500 text-white">
                  <svg class="w-4" fill="none" viewBox="0 0 24 24" stroke="currentColor">
                    <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M21 12a9 9 0 01-9 9m9-9a9 9 0 00-9-9m9 9H3m9 9a9 9 0 01-9-9m9 9c1.657 0 3-4.03 3-9s-1.343-9-3-9m0 18c-1.657 0-3-4.03-3-9s1.343-9 3-9m-9 9a9 9 0 019-9" />
                  </svg>
                </div>
              </div>
              <div>
                <h5 class="text-base leading-6">Organize with tag, powerful searching and filtering</h5>
              </div>
            </div>
          </li>
        </ul>
      </div>
      <div class="lg:w-2/3 lg:ml-8">
        <%= image_tag("landing-feature-1-en.png", class: "relative w-full shadow-2xl") %>
      </div>
    </div>
  </div>
</div>

<!-- feature two -->
<div class="bg-gray-50 overflow-hidden">
  <div class="relative mx-auto px-4 sm:px-6 lg:px-8 max-w-screen-xl">
    <svg class="hidden lg:block absolute right-full transform translate-x-1/2 -translate-y-1/4" width="404" height="784" fill="none" viewBox="0 0 404 784">
      <defs>
        <pattern id="b1e6e422-73f8-40a6-b5d9-c8586e37e0e7" x="0" y="0" width="20" height="20" patternUnits="userSpaceOnUse">
          <rect x="0" y="0" width="4" height="4" class="text-gray-200" fill="currentColor" />
        </pattern>
      </defs>
      <rect width="404" height="784" fill="url(#b1e6e422-73f8-40a6-b5d9-c8586e37e0e7)" />
    </svg>
    <div class="my-12 sm:my-16 lg:my-24 lg:flex lg:flex-row-reverse space-y-8 lg:space-y-0 items-center">
      <div class="lg:w-1/3 space-y-4">
        <h4 class="text-2xl leading-8 font-extrabold text-gray-900 tracking-tight sm:text-3xl sm:leading-9">
          Design for hackers
        </h4>
        <p class="mt-3 text-lg leading-7 text-gray-500">
          hackershare is the best place to keep all your webpage, opensource project, new product or whatever else you come across while browsing
        </p>
        <ul class="space-y-2">

          <li>
            <div class="flex items-center space-x-2">
              <div class="flex-shrink-0">
                <div class="flex items-center justify-center p-1 rounded-md bg-indigo-500 text-white">
                  <svg class="w-4" fill="none" viewBox="0 0 24 24" stroke="currentColor">
                    <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M3 6l3 1m0 0l-3 9a5.002 5.002 0 006.001 0M6 7l3 9M6 7l6-2m6 2l3-1m-3 1l-3 9a5.002 5.002 0 006.001 0M18 7l3 9m-3-9l-6-2m0-2v2m0 16V5m0 16H9m3 0h3" />
                  </svg>
                </div>
              </div>
              <div>
                <h5 class="text-base leading-6">Favorite, comment and follow</h5>
              </div>
            </div>
          </li>
          <li>
            <div class="flex items-center space-x-2">
              <div class="flex-shrink-0">
                <div class="flex items-center justify-center p-1 rounded-md bg-indigo-500 text-white">
                  <svg class="w-4" fill="none" viewBox="0 0 24 24" stroke="currentColor">
                    <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M13 10V3L4 14h7v7l9-11h-7z" />
                  </svg>
                </div>
              </div>
              <div>
                <h5 class="text-base leading-6">Hacker list</h5>
              </div>
            </div>
          </li>

          <li>
            <div class="flex items-center space-x-2">
              <div class="flex-shrink-0">
                <div class="flex items-center justify-center p-1 rounded-md bg-indigo-500 text-white">
                  <svg class="w-4" fill="none" viewBox="0 0 24 24" stroke="currentColor">
                    <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M21 12a9 9 0 01-9 9m9-9a9 9 0 00-9-9m9 9H3m9 9a9 9 0 01-9-9m9 9c1.657 0 3-4.03 3-9s-1.343-9-3-9m0 18c-1.657 0-3-4.03-3-9s1.343-9 3-9m-9 9a9 9 0 019-9" />
                  </svg>
                </div>
              </div>
              <div>
                <h5 class="text-base leading-6">With the
                  <a target="_blank" href="https://chrome.google.com/webstore/detail/hackershare/pinmchdpdbjbhijbagmealcojjpeebmh">
                    <span class="inline-flex items-center px-2.5 py-0.5 rounded-md text-md font-medium leading-5 bg-red-200 text-orange-800">Chrome Extension
                    </span>
                  </a>
                  , you can save and share web page with the click of a button.</h5>
              </div>
            </div>
          </li>

        </ul>
      </div>
      <div class="lg:w-2/3 lg:mr-8">
        <%= image_tag("landing-feature-2-en.png", class: "relative w-full shadow-2xl") %>
      </div>
    </div>
  </div>
</div>

<!-- feature three -->

<!--
<div class="bg-white overflow-hidden">
  <div class="relative mx-auto px-4 sm:px-6 lg:px-8 max-w-screen-xl">
    <svg class="hidden lg:block absolute left-full transform -translate-x-1/2 -translate-y-1/4" width="404" height="784" fill="none" viewBox="0 0 404 784">
      <defs>
        <pattern id="b1e6e422-73f8-40a6-b5d9-c8586e37e0e7" x="0" y="0" width="20" height="20" patternUnits="userSpaceOnUse">
          <rect x="0" y="0" width="4" height="4" class="text-gray-200" fill="currentColor" />
        </pattern>
      </defs>
      <rect width="404" height="784" fill="url(#b1e6e422-73f8-40a6-b5d9-c8586e37e0e7)" />
    </svg>
    <div class="my-12 sm:my-16 lg:my-24 lg:flex space-y-8 lg:space-y-0 items-center">
      <div class="lg:w-1/3 space-y-4">
        <h4 class="text-2xl leading-8 font-extrabold text-gray-900 tracking-tight sm:text-3xl sm:leading-9">
          开放订阅
        </h4>
        <p class="mt-3 text-lg leading-7 text-gray-500">
          对于很忙的你，即使不来极客分享，我们也能为你提供每周/每月精品书签汇总，精品书签将全部由人工评选，尽可能保证质量。你要做的只有扫描二维码关注我们。
        </p>
        <ul class="space-y-2">
          <li>
            <div class="flex items-center space-x-2">
              <div class="flex-shrink-0">
                <div class="flex items-center justify-center p-1 rounded-md bg-indigo-500 text-white">
                  <svg class="w-4" fill="none" viewBox="0 0 24 24" stroke="currentColor">
                    <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M3 6l3 1m0 0l-3 9a5.002 5.002 0 006.001 0M6 7l3 9M6 7l6-2m6 2l3-1m-3 1l-3 9a5.002 5.002 0 006.001 0M18 7l3 9m-3-9l-6-2m0-2v2m0 16V5m0 16H9m3 0h3" />
                  </svg>
                </div>
              </div>
              <div>
                <h5 class="text-base leading-6">每周/每月精品书签汇总</h5>
              </div>
            </div>
          </li>
          <li>
            <div class="flex items-center space-x-2">
              <div class="flex-shrink-0">
                <div class="flex items-center justify-center p-1 rounded-md bg-indigo-500 text-white">
                  <svg class="w-4" fill="none" viewBox="0 0 24 24" stroke="currentColor">
                    <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M13 10V3L4 14h7v7l9-11h-7z" />
                  </svg>
                </div>
              </div>
              <div>
                <h5 class="text-base leading-6">公众号客服</h5>
              </div>
            </div>
          </li>
        </ul>
      </div>
      <div class="lg:w-2/3 lg:ml-8">
        <%= image_tag("landing-feature-3.png", class: "relative w-full shadow-2xl") %>
      </div>
    </div>
  </div>
</div>

-->

<!-- stats -->
<div class="bg-gray-50 py-12 sm:py-16 lg:py-24">
  <div class="max-w-screen-xl mx-auto px-4 sm:px-6 lg:px-8">
    <div class="max-w-4xl mx-auto text-center">
      <h2 class="text-3xl leading-9 font-extrabold text-gray-900 sm:text-4xl sm:leading-10">
        Open Source
      </h2>
      <p class="mt-3 text-xl leading-7 text-gray-500 sm:mt-4">
        Forks, Stars and Pull Requests are welcome
      </p>
    </div>
  </div>
  <div class="mt-10 pb-12 sm:pb-16">
    <div class="relative">
      <div class="absolute inset-0 h-1/2 bg-gray-50"></div>
      <div class="relative max-w-screen-xl mx-auto px-4 sm:px-6 lg:px-8">
        <div class="max-w-4xl mx-auto">
          <dl class="rounded-lg bg-white shadow-lg sm:grid sm:grid-cols-3">
            <div class="flex flex-col border-b border-gray-100 p-6 text-center sm:border-0 sm:border-r">
              <dt class="order-2 mt-2 text-lg leading-6 font-medium text-gray-500" id="item-1">
                Version
              </dt>
              <dd class="order-1 text-5xl leading-none font-extrabold text-indigo-600" aria-describedby="item-1">
                Beta
              </dd>
            </div>
            <div class="flex flex-col border-t border-b border-gray-100 p-6 text-center sm:border-0 sm:border-l sm:border-r">
              <dt class="order-2 mt-2 text-lg leading-6 font-medium text-gray-500">
                State
              </dt>
              <dd class="order-1 text-5xl leading-none font-extrabold text-indigo-600">
                Active
              </dd>
            </div>
            <div class="flex flex-col border-t border-gray-100 p-6 text-center sm:border-0 sm:border-l">
              <dt class="order-2 mt-2 text-lg leading-6 font-medium text-gray-500">
                CI
              </dt>
              <dd class="order-1 text-5xl leading-none font-extrabold text-indigo-600">
                100%
              </dd>
            </div>
          </dl>
        </div>
      </div>
    </div>
  </div>
</div>
