<%= form_with model: [:admin, tag], local: true, class: 'max-w-md space-y-2' do |f| %>
  <div>
    <%= f.label :name, class: 'block text-sm leading-5 font-medium text-gray-700' %>
    <%= f.text_field :name, class: 'mt-1 form-input block w-full sm:text-sm sm:leading-5' %>
  </div>

  <div data-controller="tags">
    <%= f.label :alias_names, class: 'block text-sm leading-5 font-medium text-gray-700' %>
    <%= f.text_field :alias_names, 
      class: 'mt-1 form-input block w-full sm:text-sm sm:leading-5',
      data: {whitelist: tag.similar_tag_names, target: "tags.output"},
      placeholder: "add alias names"

    %>
  </div>

  <div>
    <%= f.submit 'Submit', class: 'btn-primary' %>
  </div>
<% end %>
