<%=render partial: "admin/tags/search" %>
<div class="flex flex-col">
  <div class="-my-2 overflow-x-auto sm:-mx-6 lg:-mx-8">
    <div class="py-2 align-middle inline-block min-w-full sm:px-6 lg:px-8">
      <div class="shadow overflow-hidden border-b border-gray-200 sm:rounded-lg">
        <table class="min-w-full divide-y divide-gray-200">
          <thead>
            <tr>
              <th class="p-2 bg-gray-50 text-left text-xs leading-4 font-medium text-gray-500 uppercase tracking-wider">
                Name
              </th>

              <th class="p-2 bg-gray-50 text-left text-xs leading-4 font-medium text-gray-500 uppercase tracking-wider">
                Subscriptions
              </th>

              <th class="p-2 bg-gray-50 text-left text-xs leading-4 font-medium text-gray-500 uppercase tracking-wider">
                Bookmarks
              </th>

              <th class="p-2 bg-gray-50 text-left text-xs leading-4 font-medium text-gray-500 uppercase tracking-wider">
                Is RSS
              </th>
              <th class="p-2 bg-gray-50"></th>
            </tr>
          </thead>
          <tbody class="bg-white divide-y divide-gray-200"> 
            <% @tags.each do |tag| %>
              <tr>
                <td class="p-2">
                  <div class="flex items-center">
                    <div class="flex-shrink-0 h-10 w-10">
                      <%= image_tag(tag.user.avatar_url, class: "h-10 w-10 rounded-full") %>
                    </div>
                    <div class="ml-4">
                      <div class="text-sm leading-5 font-medium text-gray-900">
                        <%= tag.name %>
                      </div>
                      <div class="text-sm leading-5 text-gray-500">
                        <%= tag.aliases.map(&:name).join(", ") %>
                      </div>
                    </div>
                  </div>
                </td>
 
                <td class="p-2">
                  <span class="px-2 inline-flex text-xs leading-5 font-semibold rounded-full bg-green-100 text-green-800">
                    <%= tag.subscriptions_count %>
                  </span>
                </td>
                <td class="p-2 text-sm leading-5 text-gray-500">
                  <%= tag.bookmarks_count %>
                </td>

                <td class="p-2 text-sm leading-5 text-gray-500">
                  <%= tag.is_rss %>
                </td>

                <td class="p-2 text-right text-sm leading-5 font-medium">
                  <%=link_to "Edit", edit_admin_tag_path(tag), class: "text-indigo-600 hover:text-indigo-900" %>
                </td>
              </tr>
            <% end %>

            <!-- More rows... -->
          </tbody>
        </table>
        <div class="p-2">
          <%= render partial: 'layouts/pagination', locals: {pagy: @pagy} %>
        </div>
      </div>
    </div>
  </div>
</div>

