<div class="space-y-8">
  <%= form_with model: @weekly_selection, method: 'post', local: true, url: publish_admin_weekly_selection_path(@weekly_selection) do |f| %>
    <div class="shadow sm:rounded-md sm:overflow-hidden">
      <div class="px-4 py-5 bg-white sm:p-6 space-y-4">
        <h3 class="text-lg font-medium leading-6 text-gray-900">Pending Weekly Selection</h3>
        <div>
          <%= f.label :published_at, class: 'block text-sm font-medium leading-5 text-gray-700' %>
          <div class="mt-1 rounded-md shadow-sm">
            <%= f.text_field :published_at, value: @weekly_selection.published_at&.to_date || Time.zone.today, readonly: true, class: 'form-input w-full rounded-md transition duration-150 ease-in-out sm:text-sm sm:leading-5' %>
          </div>
        </div>
        <div>
          <%= f.label :title, class: 'block text-sm font-medium leading-5 text-gray-700 field-required' %>
          <div class="mt-1 flex rounded-md shadow-sm">
            <%= f.text_field :title, value: @weekly_selection.title || @weekly_selection.guessed_title, class: 'form-input flex-1 block w-full rounded-none rounded-l-md transition duration-150 ease-in-out sm:text-sm sm:leading-5' %>
            <span class="inline-flex items-center px-3 rounded-r-md border border-l-0 border-gray-300 bg-gray-50 text-gray-500 text-sm">
              | <%= t("issue_no", no: @weekly_selection.id) %>
            </span>
          </div>
        </div>
        <div>
          <%= f.label :description, class: 'block text-sm font-medium leading-5 text-gray-700 field-required' %>
          <div class="rounded-md shadow-sm">
            <%= f.text_area :description, rows: '3', class: 'form-textarea mt-1 block w-full transition duration-150 ease-in-out sm:text-sm sm:leading-5 field-required' %>
          </div>
        </div>
        <div>
          <%= f.label :description_en, class: 'block text-sm font-medium leading-5 text-gray-700 field-required' %>
          <div class="rounded-md shadow-sm">
            <%= f.text_area :description_en, rows: '3', class: 'form-textarea mt-1 block w-full transition duration-150 ease-in-out sm:text-sm sm:leading-5 field-required' %>
          </div>
        </div>
        <div>
          <%= f.submit 'Publish', class: 'btn-primary' %>
        </div>
      </div>
    </div>
  <% end %>
  <div class="flex flex-col">
    <div class="-my-2 overflow-x-auto sm:-mx-6 lg:-mx-8">
      <div class="py-2 align-middle inline-block min-w-full sm:px-6 lg:px-8">
        <div class="shadow overflow-hidden border-b border-gray-200 sm:rounded-lg">
          <table class="min-w-full divide-y divide-gray-200">
            <thead>
              <tr>
                <th class="p-2 bg-gray-50 text-left text-xs leading-4 font-medium text-gray-500 uppercase tracking-wider">
                  Name
                </th>
                <th class="p-2 bg-gray-50 text-left text-xs leading-4 font-medium text-gray-500 uppercase tracking-wider">
                  Score
                </th>
                <th class="p-2 bg-gray-50 text-left text-xs leading-4 font-medium text-gray-500 uppercase tracking-wider">
                  Smart Score
                </th>
                <th class="p-2 bg-gray-50 text-left text-xs leading-4 font-medium text-gray-500 uppercase tracking-wider">
                  Likes
                </th>
                <th class="p-2 bg-gray-50 text-left text-xs leading-4 font-medium text-gray-500 uppercase tracking-wider">
                  Dups
                </th>
                <th class="p-2 bg-gray-50 text-left text-xs leading-4 font-medium text-gray-500 uppercase tracking-wider">
                  Comments
                </th>
                <th class="p-2 bg-gray-50 text-left text-xs leading-4 font-medium text-gray-500 uppercase tracking-wider">
                  Clicks
                </th>
                <th class="px-6 py-3 bg-gray-50"></th>
              </tr>
            </thead>
            <tbody class="bg-white divide-y divide-gray-200"> 
              <% @weekly_selection.bookmarks.each do |bookmark| %>
                <tr>
                  <td class="p-2">
                    <div class="flex items-center">
                      <div class="flex-shrink-0 h-10 w-10">
                        <% if bookmark.favicon_local.attached? %>
                          <span>
                            <%= image_tag(bookmark.favicon_local.service_url, loading: 'lazy', class: "h-10 w-10") %>
                          </span>
                        <% else %>
                          <span>
                            <%= lavatar_tag(bookmark.letter_char, 16, class: "w-10 h-10") %>
                          </span>
                        <% end %>
                      </div>
                      <div class="ml-4">
                        <div class="text-sm leading-5 font-medium text-gray-900">
                          <%= bookmark.title %>
                        </div>
                        <div class="text-sm leading-5 text-gray-500">
                          <%= bookmark.url %>
                        </div>
                      </div>
                    </div>
                  </td>
                  <td class="p-2">
                    <span class="px-2 inline-flex text-xs leading-5 font-semibold rounded-full bg-green-100 text-green-800">
                      <%= bookmark.score %>
                    </span>
                  </td>
                  <td class="p-2 text-sm leading-5 text-gray-500">
                    <%= bookmark.smart_score.round(2) %>
                  </td>
                  <td class="p-2 text-sm leading-5 text-gray-500">
                    <%= bookmark.likes_count %>
                  </td>
                  <td class="p-2 text-sm leading-5 text-gray-500">
                    <%= bookmark.dups_count %>
                  </td>
                  <td class="p-2 text-sm leading-5 text-gray-500">
                    <%= bookmark.comments_count %>
                  </td>
                  <td class="p-2 text-sm leading-5 text-gray-500">
                    <%= bookmark.clicks_count %>
                  </td>
                  <td class="p-2 text-right text-sm leading-5 font-medium">
                    <%= link_to 'Cancel', weekly_select_bookmark_path(bookmark), method: :patch, class: 'text-indigo-600 hover:text-indigo-900', 'data-confirm': 'Are you sure?' %>
                    <%= link_to 'Titling', titling_admin_weekly_selection_path(@weekly_selection, bookmark_id: bookmark.id), method: :patch, class: 'text-indigo-600 hover:text-indigo-900' %>
                  </td>
                </tr>
              <% end %>
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>
</div>
