<div>
  <ul class="mt-3 grid grid-cols-1 gap-5 sm:gap-6 sm:grid-cols-2 lg:grid-cols-4">
    <% @tags.each do |tag| %>
      <li class="col-span-1 flex shadow-sm rounded-md">
    
        <div class="flex-1 flex items-center justify-between border border-gray-200 rounded-md truncate">
          <div class="flex-1 px-4 py-2 text-sm leading-5 truncate">
            <div class="mb-4 inline-flex items-center px-2 py-1 rounded text-sm font-medium leading-4 bg-orange-100 text-orange-800">
              <%= link_to tag.name, bookmarks_path(tag: tag.name) %>
            </div>
            
            <p><span class="text-gray-500">created by</span> <%= link_to tag.user.username, user_path(tag.user) %></p>
            <p><span class="text-xl"> <%=tag.bookmarks_count %></span> <span class="text-gray-500">bookmarks created</span></p>
            <div data-controller="follow-tag" class="mt-3">
              <div data-target="follow-tag.container">
                <%= render partial: "categories/follow_button", locals: {tag: tag, user: current_user} %>
              </div>
            </div>
          </div>
        </div>
      </li>
    <% end %>

  </ul>
  <%= render partial: 'layouts/pagination', locals: {pagy: @pagy} %>
</div>
