<div>
  <ul class="grid grid-cols-1 gap-4 lg:grid-cols-3 lg:gap-8">
    <% @tags.each do |tag| %>
      <li class="col-span-1 shadow-sm rounded-md">
        <div class="h-4 bg-<%= tag.color %>-900 rounded-t-md"></div>
        <div class="border border-gray-200 rounded-b-md">
          <div class="p-4 text-sm leading-5 space-y-2">
            <div class="flex"><%= tag_url_for(tag) %></div>
            <p class="h-20 overflow-y-hidden"><%= tag.description %></p>
            <div>
              <p><span class="text-xl"> <%=tag.bookmarks_count %></span> <span class="text-gray-500">bookmarks created</span></p>
              <p><span class="text-xl"> <%=tag.subscriptions_count %></span> <span class="text-gray-500">subscriptions</span></p>
            </div>
            <div data-controller="follow-tag" class="h-12 flex justify-between items-center">
              <div data-target="follow-tag.container">
                <%= render partial: "categories/follow_button", locals: {tag: tag, user: current_user} %>
              </div>
              <% if tag.img.attached? %>
                <%= image_tag tag.img.service_url, class: 'h-12' %>
              <% end %>
            </div>
          </div>
        </div>
      </li>
    <% end %>

  </ul>
  <%= render partial: 'layouts/pagination', locals: {pagy: @pagy} %>
</div>
