<div class="flex flex-col">
  <div class="-my-2 overflow-x-auto sm:-mx-6 lg:-mx-8">
    <div class="py-2 align-middle inline-block min-w-full sm:px-6 lg:px-8">
      <div class="shadow overflow-hidden border-b border-gray-200 sm:rounded-lg">
        <table class="min-w-full divide-y divide-gray-200">
          <thead>
            <tr>
              <th class="px-3 py-3 bg-gray-50 text-left text-xs leading-4 font-medium text-gray-500 uppercase tracking-wider">
                Name
              </th>

              <th class="px-3 py-3 bg-gray-50 text-left text-xs leading-4 font-medium text-gray-500 uppercase tracking-wider">
                Score
              </th>

              <th class="px-3 py-3 bg-gray-50 text-left text-xs leading-4 font-medium text-gray-500 uppercase tracking-wider">
                Smart Score
              </th>

              <th class="px-3 py-3 bg-gray-50 text-left text-xs leading-4 font-medium text-gray-500 uppercase tracking-wider">
                Likes
              </th>

              <th class="px-3 py-3 bg-gray-50 text-left text-xs leading-4 font-medium text-gray-500 uppercase tracking-wider">
                Dups
              </th>

              <th class="px-3 py-3 bg-gray-50 text-left text-xs leading-4 font-medium text-gray-500 uppercase tracking-wider">
                Comments
              </th>

              <th class="px-3 py-3 bg-gray-50 text-left text-xs leading-4 font-medium text-gray-500 uppercase tracking-wider">
                Tags
              </th>

              <th class="px-3 py-3 bg-gray-50 text-left text-xs leading-4 font-medium text-gray-500 uppercase tracking-wider">
                Clicks
              </th>
              <th class="px-6 py-3 bg-gray-50"></th>
            </tr>
          </thead>
          <tbody class="bg-white divide-y divide-gray-200"> 
            <% @bookmarks.each do |bookmark| %>
              <tr>
                <td class="px-6 py-4 whitespace-no-wrap">
                  <div class="flex items-center">
                    <div class="flex-shrink-0 h-10 w-10">
                      <% if bookmark.favicon_local.attached? %>
                        <span>
                          <%= image_tag(bookmark.favicon_local, class: "h-10 w-10") %>
                        </span>
                      <% else %>
                        <span>
                          <%= lavatar_tag(bookmark.letter_char, 16, class: "w-10 h-10") %>
                        </span>
                      <% end %>
                    </div>
                    <div class="ml-4">
                      <div class="text-sm leading-5 font-medium text-gray-900">
                        <%= bookmark.title %>
                        <span class="ml-2">
                          <%= link_to up_admin_bookmark_path(bookmark), method: :post, remote: true do  %>
                            <svg class="w-4 h-4 inline" viewBox="0 0 15 15" fill="none" xmlns="http://www.w3.org/2000/svg" width="15" height="15"><path d="M9.146 6.854l.354.353.707-.707-.353-.354-.708.708zM7.5 4.5l.354-.354-.354-.353-.354.353.354.354zM5.146 6.146l-.353.354.707.707.354-.353-.708-.708zM14.5 7.5H14h.5zm-7 7V14v.5zm0-14V0v.5zm-7 7H0h.5zm9.354-1.354l-2-2-.708.708 2 2 .708-.708zm-2.708-2l-2 2 .708.708 2-2-.708-.708zM7 4.5V11h1V4.5H7zm7 3A6.5 6.5 0 017.5 14v1A7.5 7.5 0 0015 7.5h-1zM7.5 1A6.5 6.5 0 0114 7.5h1A7.5 7.5 0 007.5 0v1zM1 7.5A6.5 6.5 0 017.5 1V0A7.5 7.5 0 000 7.5h1zm-1 0A7.5 7.5 0 007.5 15v-1A6.5 6.5 0 011 7.5H0z" fill="currentColor"></path></svg>
                          <% end %>
                        </span>

                        <span class="ml-2">
                          <%= link_to down_admin_bookmark_path(bookmark), method: :post, remote: true do  %>
                            <svg class="w-4 h-4 inline" viewBox="0 0 15 15" fill="none" xmlns="http://www.w3.org/2000/svg" width="15" height="15"><path d="M5.854 8.146L5.5 7.793l-.707.707.353.354.708-.708zM7.5 10.5l-.354.354.354.353.354-.353L7.5 10.5zm2.354-1.646l.353-.354-.707-.707-.354.353.708.708zM.5 7.5H0h.5zm7-7V0v.5zm0 14V14v.5zm7-7H14h.5zM5.146 8.854l2 2 .708-.708-2-2-.708.708zm2.708 2l2-2-.708-.708-2 2 .708.708zM8 10.5V4H7v6.5h1zm-7-3A6.5 6.5 0 017.5 1V0A7.5 7.5 0 000 7.5h1zM7.5 14A6.5 6.5 0 011 7.5H0A7.5 7.5 0 007.5 15v-1zM14 7.5A6.5 6.5 0 017.5 14v1A7.5 7.5 0 0015 7.5h-1zm1 0A7.5 7.5 0 007.5 0v1A6.5 6.5 0 0114 7.5h1z" fill="currentColor"></path></svg>
                          <% end %>
                        </span>
                      </div>
                      <div class="text-sm leading-5 text-gray-500">
                        <%= bookmark.url %>
                      </div>
                    </div>
                  </div>
                </td>
 
                <td class="px-3 py-4 whitespace-no-wrap">
                  <span class="px-2 inline-flex text-xs leading-5 font-semibold rounded-full bg-green-100 text-green-800">
                    <%= bookmark.score %>
                  </span>
                </td>
                <td class="px-3 py-4 whitespace-no-wrap text-sm leading-5 text-gray-500">
                  <%= bookmark.smart_score %>
                </td>

                <td class="px-3 py-4 whitespace-no-wrap text-sm leading-5 text-gray-500">
                  <%= bookmark.likes_count %>
                </td>

                <td class="px-3 py-4 whitespace-no-wrap text-sm leading-5 text-gray-500">
                  <%= bookmark.dups_count %>
                </td>

                <td class="px-3 py-4 whitespace-no-wrap text-sm leading-5 text-gray-500">
                  <%= bookmark.comments_count %>
                </td>

                <td class="px-3 py-4 whitespace-no-wrap text-sm leading-5 text-gray-500">
                  <%= bookmark.tags_count %>
                </td>

                <td class="px-3 py-4 whitespace-no-wrap text-sm leading-5 text-gray-500">
                  <%= bookmark.clicks_count %>
                </td>

                <td class="px-3 py-4 whitespace-no-wrap text-right text-sm leading-5 font-medium">
                  <a href="#" class="text-indigo-600 hover:text-indigo-900">Edit</a>
                </td>
              </tr>
            <% end %>

            <!-- More rows... -->
          </tbody>
        </table>
        <%= render partial: 'layouts/pagination', locals: {pagy: @pagy} %>
      </div>
    </div>
  </div>
</div>

