<div class="flex flex-col">
  <div class="-my-2 overflow-x-auto sm:-mx-6 lg:-mx-8">
    <div class="py-2 align-middle inline-block min-w-full sm:px-6 lg:px-8">
      <div class="shadow overflow-hidden border-b border-gray-200 sm:rounded-lg">
        <table class="min-w-full divide-y divide-gray-200">
          <thead>
            <tr>
              <th class="px-3 py-3 bg-gray-50 text-left text-xs leading-4 font-medium text-gray-500 uppercase tracking-wider">
                Name
              </th>

              <th class="px-3 py-3 bg-gray-50 text-left text-xs leading-4 font-medium text-gray-500 uppercase tracking-wider">
                Score
              </th>

              <th class="px-3 py-3 bg-gray-50 text-left text-xs leading-4 font-medium text-gray-500 uppercase tracking-wider">
                Smart Score
              </th>

              <th class="px-3 py-3 bg-gray-50 text-left text-xs leading-4 font-medium text-gray-500 uppercase tracking-wider">
                Likes
              </th>

              <th class="px-3 py-3 bg-gray-50 text-left text-xs leading-4 font-medium text-gray-500 uppercase tracking-wider">
                Dups
              </th>

              <th class="px-3 py-3 bg-gray-50 text-left text-xs leading-4 font-medium text-gray-500 uppercase tracking-wider">
                Comments
              </th>

              <th class="px-3 py-3 bg-gray-50 text-left text-xs leading-4 font-medium text-gray-500 uppercase tracking-wider">
                Tags
              </th>

              <th class="px-3 py-3 bg-gray-50 text-left text-xs leading-4 font-medium text-gray-500 uppercase tracking-wider">
                Clicks
              </th>
              <th class="px-6 py-3 bg-gray-50"></th>
            </tr>
          </thead>
          <tbody class="bg-white divide-y divide-gray-200"> 
            <% @bookmarks.each do |bookmark| %>
              <tr>
                <td class="px-6 py-4 whitespace-no-wrap">
                  <div class="flex items-center">
                    <div class="flex-shrink-0 h-10 w-10">
                      <% if bookmark.favicon_local.attached? %>
                        <span>
                          <%= image_tag(bookmark.favicon_local, class: "h-10 w-10") %>
                        </span>
                      <% else %>
                        <span>
                          <%= lavatar_tag(bookmark.letter_char, 16, class: "w-10 h-10") %>
                        </span>
                      <% end %>
                    </div>
                    <div class="ml-4">
                      <div class="text-sm leading-5 font-medium text-gray-900">
                        <%= bookmark.title %>
                      </div>
                      <div class="text-sm leading-5 text-gray-500">
                        <%= bookmark.url %>
                      </div>
                    </div>
                  </div>
                </td>
 
                <td class="px-3 py-4 whitespace-no-wrap">
                  <span class="px-2 inline-flex text-xs leading-5 font-semibold rounded-full bg-green-100 text-green-800">
                    <%= bookmark.score %>
                  </span>
                </td>
                <td class="px-3 py-4 whitespace-no-wrap text-sm leading-5 text-gray-500">
                  <%= bookmark.smart_score %>
                </td>

                <td class="px-3 py-4 whitespace-no-wrap text-sm leading-5 text-gray-500">
                  <%= bookmark.likes_count %>
                </td>

                <td class="px-3 py-4 whitespace-no-wrap text-sm leading-5 text-gray-500">
                  <%= bookmark.dups_count %>
                </td>

                <td class="px-3 py-4 whitespace-no-wrap text-sm leading-5 text-gray-500">
                  <%= bookmark.comments_count %>
                </td>

                <td class="px-3 py-4 whitespace-no-wrap text-sm leading-5 text-gray-500">
                  <%= bookmark.tags_count %>
                </td>

                <td class="px-3 py-4 whitespace-no-wrap text-sm leading-5 text-gray-500">
                  <%= bookmark.clicks_count %>
                </td>

                <td class="px-3 py-4 whitespace-no-wrap text-right text-sm leading-5 font-medium">
                  <a href="#" class="text-indigo-600 hover:text-indigo-900">Edit</a>
                </td>
              </tr>
            <% end %>

            <!-- More rows... -->
          </tbody>
        </table>
        <%= render partial: 'layouts/pagination', locals: {pagy: @pagy} %>
      </div>
    </div>
  </div>
</div>

