<nav x-data="{ open: false }" class="bg-gray-800">
    <div class="max-w-7xl mx-auto px-2 sm:px-4 lg:px-8">
      <div class="relative flex items-center justify-between h-16">
        <div class="flex items-center px-2 lg:px-0">
          <div class="flex-shrink-0">
            <%= link_to (image_tag "logo-white.png", class: "block lg:hidden h-12 w-auto"), root_path %>
            <%= link_to (image_tag "logo-white.png", class: "hidden lg:block h-12 w-auto"), root_path %>
          </div>
          <div class="hidden lg:block lg:ml-6">
            <div class="flex">
              <%= link_to_active t("hackers"), users_path, :users, class: "px-3 py-2 rounded-md text-sm leading-5 font-medium text-white text-gray-300 hover:text-white focus:outline-none focus:text-white focus:bg-gray-700 transition duration-150 ease-in-out" %>

              <%= link_to_active t("bookmarks"), root_path, :bookmarks, class: "ml-4 px-3 py-2 rounded-md text-sm leading-5 font-medium text-gray-300 hover:text-white focus:outline-none focus:text-white focus:bg-gray-700 transition duration-150 ease-in-out" %>

              <%= link_to_active t("category"), categories_path, :categories, class: "ml-4 px-3 py-2 rounded-md text-sm leading-5 font-medium text-gray-300 hover:text-white focus:outline-none focus:text-white focus:bg-gray-700 transition duration-150 ease-in-out" %>
            
            </div>
          </div>
        </div>
        <div class="flex-1 flex justify-center px-2 lg:ml-6 lg:justify-end">
          <%= form_with(url: "/", class: "max-w-lg w-full lg:max-w-xs") do |f| %>
              <label for="search" class="sr-only"><%= t("search") %></label>
              <div class="relative">
                <div class="absolute inset-y-0 left-0 pl-3 flex items-center pointer-events-none">
                  <svg class="h-5 w-5 text-gray-400" fill="currentColor" viewBox="0 0 20 20">
                    <path fill-rule="evenodd" d="M8 4a4 4 0 100 8 4 4 0 000-8zM2 8a6 6 0 1110.89 3.476l4.817 4.817a1 1 0 01-1.414 1.414l-4.816-4.816A6 6 0 012 8z" clip-rule="evenodd"></path>
                  </svg>
                </div>
                <input id="search" class="block w-full pl-10 pr-3 py-2 border border-transparent rounded-md leading-5 bg-gray-700 text-gray-300 placeholder-gray-400 focus:outline-none focus:bg-white focus:text-gray-900 sm:text-sm transition duration-150 ease-in-out" placeholder="<%= t("search") %>" type="search">
                <input type="submit" hidden />
              </div>
          <% end %>
        </div>
        <div class="flex">
          <% if I18n.locale == :en %>
            <%= link_to 'CN', url_for(set_locale: true, locale: 'cn'), class: 'text-sm text-gray-300 hover:text-white focus:text-white' %>
          <% else %>
            <%= link_to 'EN', url_for(set_locale: true, locale: nil), class: 'text-sm text-gray-300 hover:text-white focus:text-white' %>
          <% end %>
        </div>

        <div class="flex lg:hidden">
          <!-- Mobile menu button -->
          <button @click="open = !open" class="inline-flex items-center justify-center p-2 rounded-md text-gray-400 hover:text-white hover:bg-gray-700 focus:outline-none focus:bg-gray-700 focus:text-white transition duration-150 ease-in-out" x-bind:aria-label="open ? 'Close main menu' : 'Main menu'" aria-label="Main menu" x-bind:aria-expanded="open">
            <!-- Icon when menu is closed. -->
            <svg x-state:on="Menu open" x-state:off="Menu closed" :class="{ 'hidden': open, 'block': !open }" class="h-6 w-6 block" fill="none" viewBox="0 0 24 24" stroke="currentColor">
  <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M4 6h16M4 12h16M4 18h16"></path>
</svg>
            <!-- Icon when menu is open. -->
            <svg x-state:on="Menu open" x-state:off="Menu closed" :class="{ 'hidden': !open, 'block': open }" class="h-6 w-6 hidden" fill="none" viewBox="0 0 24 24" stroke="currentColor">
  <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M6 18L18 6M6 6l12 12"></path>
</svg>
          </button>
        </div>
        <%= render 'layouts/user_nav' %>

      </div>
    </div>

    <div x-description="Mobile menu, toggle classes based on menu state." x-state:on="Menu open" x-state:off="Menu closed" :class="{ 'block': open, 'hidden': !open }" class="lg:hidden hidden">
      <div class="px-2 pt-2 pb-3">
        <%= link_to_active t("hackers"), users_path, :users, class: "block px-3 py-2 rounded-md text-base font-medium text-white text-gray-300 hover:text-white focus:outline-none focus:text-white focus:bg-gray-700 transition duration-150 ease-in-out" %>
        
        <%= link_to_active t("bookmarks"), root_path, :bookmarks, class: "mt-1 block px-3 py-2 rounded-md text-base font-medium text-gray-300 hover:text-white focus:outline-none focus:text-white focus:bg-gray-700 transition duration-150 ease-in-out" %>

        <%= link_to_active t("category"), categories_path, :categories, class: "mt-1 block px-3 py-2 rounded-md text-base font-medium text-gray-300 hover:text-white focus:outline-none focus:text-white focus:bg-gray-700 transition duration-150 ease-in-out" %>
        
      </div>

      <%= render 'layouts/mobile_user_nav' %>
    </div>
  </nav>