<!DOCTYPE html>
<html>
  <head>
    <title><%= yield(:title) || "Hackershare" %></title>
    <meta name="description" content="<%= yield(:description).presence || 'Hackershare is a powerful social bookmarking service and a knowledge-sharing community, with advanced search and tag management feature' %>">
    <meta name="keywords" content="<%= yield(:keywords).presence || 'bookmark, pocket, management, hackernews' %>">
    <meta name="turbolinks-cache-control" content="no-cache">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="apple-touch-icon" sizes="180x180" href="/apple-touch-icon.png">
    <link rel="icon" type="image/png" sizes="32x32" href="/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="16x16" href="/favicon-16x16.png">
    <link rel="manifest" href="/site.webmanifest">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= javascript_pack_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= stylesheet_pack_tag "application", media: 'all', 'data-turbolinks-track': 'reload' %>
</head>

  <body class="antialiased font-sans bg-gray-200">
    <div class="" style="">
      <div style="min-height: 640px;" class="bg-gray-100">
        
        <div class="h-screen flex overflow-hidden bg-white" x-data="{ sidebarOpen: false }" @keydown.window.escape="sidebarOpen = false">
          <%= render "admin/nav_mobile" %>
          <%= render "admin/nav" %>
          <div class="flex flex-col w-0 flex-1 overflow-hidden">
            <%= render "admin/menu" %>
            <main class="flex-1 relative z-0 overflow-y-auto focus:outline-none" tabindex="0" x-data="" x-init="$el.focus()">
              <div class="pt-2 pb-6 md:py-6">
                <div class="max-w-7xl mx-auto px-4 sm:px-6 md:px-8">
                  <h1 class="text-2xl font-semibold text-gray-900"><%= yield(:title).presence || 'Dashboard' %></h1>
                </div>
                <div class="max-w-7xl mx-auto px-4 sm:px-6 md:px-8">
                  <!-- Replace with your content -->
                  <div class="py-4">
                    <%= render 'layouts/admin_flash' %>
                    <%= yield %>
                  </div>
                  <!-- /End replace -->
                </div>
              </div>
            </main>
          </div>
        </div>

      </div>
    </div>
    <div style="clear: both; display: block; height: 0px;"></div>
  </body>
</html>
