<!DOCTYPE html>
<html>
  <head>
    <title>Hackershare</title>
    <meta name="turbolinks-cache-control" content="no-cache">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <link href="https://fonts.googleapis.com/css?family=Inter&display=swap" rel="stylesheet">
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
</head>

  <body>
    <%= render 'layouts/header' %>
    <div class="container mx-auto px-4 sm:px-6 lg:px-8 min-h-screen">
      <%= render "layouts/flash" %>
      <%= yield %>
    </div>
    <%= render 'layouts/footer' %>
  </body>
</html>
