<!DOCTYPE html>
<html>
  <head>
    <title>Hackershare</title>
    <meta name="turbolinks-cache-control" content="no-cache">
    <link rel="apple-touch-icon" sizes="180x180" href="/apple-touch-icon.png">
    <link rel="icon" type="image/png" sizes="32x32" href="/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="16x16" href="/favicon-16x16.png">
    <link rel="manifest" href="/site.webmanifest">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <link href="https://fonts.googleapis.com/css?family=Inter&display=swap" rel="stylesheet">
    <%= javascript_pack_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= stylesheet_pack_tag "application", media: 'all', 'data-turbolinks-track': 'reload' %>
</head>

  <body>
    <%= render 'layouts/header' %>
    <div class="container mx-auto px-4 sm:px-6 lg:px-8 min-h-screen">
      <%= render "layouts/flash" %>
      <%= yield %>
    </div>
    <%= render 'layouts/footer' %>
  </body>
</html>
