<!DOCTYPE html>
<html>
  <head>
    <title>Hackershare -✨ Social bookmarking reinvented!</title>
    <meta name="description" content="<%= yield(:description).presence || 'Hackershare is a powerful social bookmarking service and a knowledge-sharing community, with advanced search and tag management feature' %>">
    <meta name="keywords" content="<%= yield(:keywords).presence || 'bookmark, pocket, management, hackernews' %>">
    <meta name="turbolinks-cache-control" content="no-cache">
    
    <meta property="og:title" content="Hackershare - ✨ Social bookmarking reinvented!">
    <meta property="og:description" content="Hackershare is a powerful social bookmarking service and a knowledge-sharing community, with advanced search and tag management feature.">
    <meta property="og:image" content="https://hackershare.dev/images/landing-feature-1-en.png">
    <meta property="og:url" content="https://hackershare.dev">
    <meta property="og:site_name" content="Hackershare">


    <meta property="twitter:card" content="summary_large_image">
    <meta property="twitter:url" content="https://hackershare.dev/">
    <meta property="twitter:title" content="Hackershare - ✨ Social bookmarking reinvented!">
    <meta property="twitter:description" content="Hackershare is a powerful social bookmarking service and a knowledge-sharing community, with advanced search and tag management feature.">
    <meta property="twitter:image" content="https://hackershare.dev/images/landing-feature-1-en.png">

    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="apple-touch-icon" sizes="180x180" href="/apple-touch-icon.png">
    <link rel="icon" type="image/png" sizes="32x32" href="/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="16x16" href="/favicon-16x16.png">
    <link rel="manifest" href="/site.webmanifest">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= javascript_pack_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= stylesheet_pack_tag "application", media: 'all', 'data-turbolinks-track': 'reload' %>

</head>

  <body>
    <%= render "layouts/flash" %>
    <%= yield %>
    <%= render 'layouts/footer' %>
    <%= render 'common/ga_tracking' %>
  </body>
</html>
